<?xml version="1.0"?>
<config>
    <modules>
        <Newgistics_Shipping>
            <version>1.0.0</version>
        </Newgistics_Shipping>
    </modules>
    <global>
        <models>
            <newgistics_shipping>
                <class>Newgistics_Shipping_Model</class>
            </newgistics_shipping>
        </models>
        <helpers>
            <newgistics_shipping>
                <class>Newgistics_Shipping_Helper</class>
            </newgistics_shipping>
        </helpers>
    </global>
    <default>
        <carriers>
            <newgistics_shipping>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>newgistics_shipping/carrier</model>
                <title>Newgistics Shipping</title>
                <sort_order>10</sort_order>
                <sallowspecific>1</sallowspecific>
                <base_price>5.99</base_price>
                <express_max_weight>3</express_max_weight>
                <use_free_shipping>0</use_free_shipping>
                <free_shipping_title>Free USPS Delivery</free_shipping_title>
                <shipping_method_title>USPS Delivery</shipping_method_title>
            </newgistics_shipping>
        </carriers>
    </default>
</config>