<?xml version="1.0"?>
<!--
/**
 * @author    Mediotype Developement <diveinto@mediotype.com>
 * @copyright 2019 Mediotype. All rights reserved.
 */
-->
<config>
    <modules>
        <Hylete_Pixlee>
            <version>1.0.0</version>
        </Hylete_Pixlee>
    </modules>
    <global>
        <helpers>
            <hylete_pixlee>
                <class>Hylete_Pixlee_Helper</class>
            </hylete_pixlee>
        </helpers>
    </global>
</config>
