<?xml version="1.0"?>
<!--
/**
 * @author    Mediotype Developement <diveinto@mediotype.com>
 * @copyright 2019 Mediotype. All rights reserved.
 */
-->
<config>
    <modules>
        <Hylete_Pixlee>
            <version>1.0.2</version>
        </Hylete_Pixlee>
    </modules>
    <global>
        <resources>
            <hylete_pixlee_setup>
                <setup>
                    <module>Hylete_Pixlee</module>
                </setup>
            </hylete_pixlee_setup>
        </resources>
    </global>
</config>
