<?xml version="1.0"?>
<config>
    <modules>
        <Hylete_Coupons>
            <version>0.1.0</version>
        </Hylete_Coupons>
    </modules>
    <global>
        <helpers>
            <coupons>
                <class>Hylete_Coupons_Helper</class>
            </coupons>
            <cminds_coupon>
                <rewrite>
                    <data>Hylete_Coupons_Helper_Cminds_Data</data>
                </rewrite>
            </cminds_coupon>
        </helpers>
        <models>
            <hylete_coupons>
                <class>Hylete_Coupons_Model</class>
            </hylete_coupons>
        </models>
    </global>
</config> 
