<?xml version="1.0" ?><config>
    <modules>
        <Icommerce_AddToCartAjax>
            <version>0.2.36</version>
        </Icommerce_AddToCartAjax>
    </modules>
    <global>
    	<helpers>
    		<addtocartajax>
    			<class>Icommerce_AddToCartAjax_Helper</class>
    		</addtocartajax>
    	</helpers>
    	<blocks>
            <addtocartajax>
            	<class>Icommerce_AddToCartAjax_Block</class>
            </addtocartajax>
        </blocks>
    </global>
  <adminhtml>
      <acl>
          <resources>
              <admin>
				<children>
					<system>
						<children>
							<config>
								<children>
									<addtocartajax>
										<title>AddToCartAjax</title>
									</addtocartajax>
								</children>
							</config>
						</children>
					</system>
				</children>
              </admin>
          </resources>
      </acl>
      <events/>
      <translate>
		 <modules>
		   <Icommerce_AddToCartAjax>
			 <files>
			   <addtocartajax>Icommerce_AddToCartAjax.csv</addtocartajax>
			 </files>
		   </Icommerce_AddToCartAjax>
		  </modules>
        </translate>
   </adminhtml>
    <frontend>
        <routers>
            <addtocartajax>
                <use>standard</use>
                <args>
                    <module>Icommerce_AddToCartAjax</module>
                    <frontName>addtocartajax</frontName>
                </args>
            </addtocartajax>
        </routers>
        <translate>
            <modules>
                <Icommerce_AddToCartAjax>
                    <files>
                        <default>Icommerce_AddToCartAjax.csv</default>
                    </files>
                </Icommerce_AddToCartAjax>
            </modules>
        </translate>
        <layout>
            <updates>
                <addtocartajax module="Icommerce_AddToCartAjax">
                    <file>icommerce_addtocartajax.xml</file>
                </addtocartajax>
            </updates>
        </layout>
    </frontend>
  <default>
      <!-- config values -->
      <addtocartajax>
          <settings>
              <redirect_url>checkout/cart/</redirect_url>
              <overlay_hex_color_code>#000000</overlay_hex_color_code>
              <overlay_opacity>.5</overlay_opacity>
              <popup_width>255</popup_width>
              <popup_timeout>10</popup_timeout>
              <popup_fadeout_duration>0.5</popup_fadeout_duration>
              <product_checkout_button>0</product_checkout_button>
              <show_popup_when_adding>1</show_popup_when_adding>
              <show_popup_when_deleting>1</show_popup_when_deleting>
              <use_headercart_xml>0</use_headercart_xml>
          </settings>
      </addtocartajax>
  </default>
</config>
