<?xml version="1.0" ?><config>
    <modules>
        <Vaimo_PrevNextLocal>
            <version>0.1.37</version>
        </Vaimo_PrevNextLocal>
    </modules>
    <global>
        <helpers>
            <prevnextlocal>
                <class>Vaimo_PrevNextLocal_Helper</class>
            </prevnextlocal>
        </helpers>
        <blocks>
            <prevnextlocal>
                <class>Vaimo_PrevNextLocal_Block</class>
            </prevnextlocal>
        </blocks>
        <models>
            <prevnextlocal>
                <class>Vaimo_PrevNextLocal_Model</class>
            </prevnextlocal>
        </models>
    </global>
    <frontend>
        <routers>
            <Vaimo_PrevNextLocal>
                <use>standard</use>
                <args>
                    <module>Vaimo_PrevNextLocal</module>
                    <frontName>prevnextlocal</frontName>
                </args>
            </Vaimo_PrevNextLocal>
        </routers>
        <translate>
            <modules>
                <Vaimo_PrevNextLocal>
                    <files>
                        <prevnextlocal>Vaimo_PrevNextLocal.csv</prevnextlocal>
                    </files>
                </Vaimo_PrevNextLocal>
            </modules>
        </translate>
        <layout>
            <updates>
                <prevnextlocal module="Vaimo_PrevNextLocal">
                    <file>vaimo/vaimo_prevnextlocal.xml</file>
                </prevnextlocal>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <prevnextlocal>
                                            <title>Previous/Next Local</title>
                                        </prevnextlocal>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <admin_system_config_changed_section_prevnextlocal>
                <observers>
                    <prevnextlocal>
                        <class>prevnextlocal/observer</class>
                        <method>SaveConfig</method>
                    </prevnextlocal>
                </observers>
            </admin_system_config_changed_section_prevnextlocal>
        </events>
    </adminhtml>
    <default>
        <prevnextlocal>
            <scene7>
                <helper>prevnextlocal/scene7_bjornborg</helper>
            </scene7>
            <images>
                <cache_path>cache/1/thumbnail/100x/9df78eab33525d08d6e5fb8d27136e95</cache_path>
            </images>
        </prevnextlocal>
    </default>
</config>