<?xml version="1.0" ?>
<!--
/**
 * Copyright (c) 2009-2017 Vaimo Group
 *
 * Vaimo reserves all rights in the Program as delivered. The Program
 * or any portion thereof may not be reproduced in any form whatsoever without
 * the written consent of Vaimo, except as provided by licence. A licence
 * under Vaimo's rights in the Program may be available directly from
 * Vaimo.
 *
 * Disclaimer:
 * THIS NOTICE MAY NOT BE REMOVED FROM THE PROGRAM BY ANY USER THEREOF.
 * THE PROGRAM IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE PROGRAM OR THE USE OR OTHER DEALINGS
 * IN THE PROGRAM.
 *
 * @category    Vaimo
 * @package     Vaimo_Cms
 * @copyright   Copyright (c) 2009-2017 Vaimo Group
 */
-->
<config>
    <modules>
        <Vaimo_Cms>
            <version>1.2.18</version>
        </Vaimo_Cms>
    </modules>
    <global>
        <blocks>
            <vaimo_cms>
                <class>Vaimo_Cms_Block</class>
            </vaimo_cms>
        </blocks>
        <helpers>
            <vaimo_cms>
                <class>Vaimo_Cms_Helper</class>
            </vaimo_cms>
        </helpers>
        <models>
            <vaimo_cms>
                <class>Vaimo_Cms_Model</class>
                <resourceModel>vaimo_cms_resource</resourceModel>
            </vaimo_cms>
            <vaimo_cms_resource>
                <class>Vaimo_Cms_Model_Resource</class>
                <entities>
                    <structure>
                        <table>vaimo_cms_structure</table>
                    </structure>
                </entities>
            </vaimo_cms_resource>
        </models>
        <resources>
            <vaimo_cms_setup>
                <setup>
                    <module>Vaimo_Cms</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vaimo_cms_setup>
        </resources>
        <events>
            <controller_front_init_before>
                <observers>
                    <vaimo_cms_prepare_for_edit_mode>
                        <type>singleton</type>
                        <class>vaimo_cms/observer</class>
                        <method>prepareForEditMode</method>
                    </vaimo_cms_prepare_for_edit_mode>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <frontend>
        <routers>
            <vaimo_cms>
                <use>standard</use>
                <args>
                    <module>Vaimo_Cms</module>
                    <frontName>vaimocms</frontName>
                </args>
            </vaimo_cms>
        </routers>
        <layout>
            <updates>
                <vaimo_cms_editor>
                    <file>vaimo_cms/editor.xml</file>
                </vaimo_cms_editor>
                <vaimo_cms>
                    <file>vaimo_cms.xml</file>
                </vaimo_cms>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <vaimo_cms_add_base_default_layout_updates>
                        <type>singleton</type>
                        <class>vaimo_cms/observer</class>
                        <method>addBaseDefaultLayoutDbUpdates</method>
                    </vaimo_cms_add_base_default_layout_updates>
                </observers>
            </controller_action_layout_generate_xml_before>
            <controller_action_predispatch>
                <observers>
                    <vaimo_cms_process_edit_mode_state>
                        <type>singleton</type>
                        <class>vaimo_cms/observer</class>
                        <method>updateEditModeEnabledDisabledState</method>
                    </vaimo_cms_process_edit_mode_state>
                </observers>
            </controller_action_predispatch>
            <core_block_abstract_to_html_after>
                <observers>
                    <vaimo_cms_update_output_markup>
                        <type>disabled</type>
                        <vcms_mode>edit</vcms_mode>
                        <class>vaimo_cms/editor_observer</class>
                        <method>updateHtmlOutputMarkup</method>
                    </vaimo_cms_update_output_markup>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_layout_load_before>
                <observers>
                    <vaimo_cms_add_edit_mode_handle>
                        <type>disabled</type>
                        <vcms_mode>edit</vcms_mode>
                        <class>vaimo_cms/editor_observer</class>
                        <method>addEditModeHandle</method>
                    </vaimo_cms_add_edit_mode_handle>
                    <vaimo_cms_add_extra_layout_handles>
                        <type>singleton</type>
                        <class>vaimo_cms/observer</class>
                        <method>addExtraLayoutHandles</method>
                    </vaimo_cms_add_extra_layout_handles>
                    <vaimo_cms_add_revision_handle>
                        <type>disabled</type>
                        <vcms_mode>edit</vcms_mode>
                        <class>vaimo_cms/editor_observer</class>
                        <method>addRevisionHandle</method>
                    </vaimo_cms_add_revision_handle>
                    <vaimo_cms_handle_content_updates>
                        <type>disabled</type>
                        <vcms_mode>edit</vcms_mode>
                        <class>vaimo_cms/editor_observer</class>
                        <method>handleContentUpdates</method>
                    </vaimo_cms_handle_content_updates>
                    <vaimo_cms_add_fpc_clean_handle>
                        <type>singleton</type>
                        <class>vaimo_cms/observer</class>
                        <method>addPageCacheCleanHandle</method>
                    </vaimo_cms_add_fpc_clean_handle>
                </observers>
            </controller_action_layout_load_before>
            <controller_action_postdispatch>
                <observers>
                    <vaimo_cms_gemerate_content_updates_response>
                        <type>disabled</type>
                        <vcms_mode>edit</vcms_mode>
                        <class>vaimo_cms/editor_observer</class>
                        <method>generateContentUpdateResponse</method>
                    </vaimo_cms_gemerate_content_updates_response>
                </observers>
            </controller_action_postdispatch>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <vaimo_cms_prepare_page_layout>
                        <type>singleton</type>
                        <class>vaimo_cms/observer</class>
                        <method>prepareContentPageLayout</method>
                    </vaimo_cms_prepare_page_layout>
                    <vaimo_cms_prepare_structure_blocks>
                        <type>singleton</type>
                        <class>vaimo_cms/observer</class>
                        <method>addStructureBlocks</method>
                    </vaimo_cms_prepare_structure_blocks>
                    <vaimo_cms_prepare_revision_structure_blocks>
                        <type>disabled</type>
                        <vcms_mode>edit</vcms_mode>
                        <class>vaimo_cms/editor_observer</class>
                        <method>addRevisionStructureBlocks</method>
                    </vaimo_cms_prepare_revision_structure_blocks>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <catalog_category_load_after>
                <observers>
                    <vaimo_cms_activate_category_for_editing>
                        <type>disabled</type>
                        <vcms_mode>edit</vcms_mode>
                        <class>vaimo_cms/editor_observer</class>
                        <method>activateCategory</method>
                    </vaimo_cms_activate_category_for_editing>
                </observers>
            </catalog_category_load_after>
            <catalog_category_save_before>
                <observers>
                    <vaimo_cms_restore_original_category_state>
                        <type>disabled</type>
                        <vcms_mode>edit</vcms_mode>
                        <class>vaimo_cms/editor_observer</class>
                        <method>restoreCategoryState</method>
                    </vaimo_cms_restore_original_category_state>
                </observers>
            </catalog_category_save_before>
            <catalog_controller_category_init_before>
                <observers>
                    <vaimo_cms_enable_category_activation>
                        <type>disabled</type>
                        <vcms_mode>edit</vcms_mode>
                        <class>vaimo_cms/editor_observer</class>
                        <method>enableCategoryActivation</method>
                    </vaimo_cms_enable_category_activation>
                </observers>
            </catalog_controller_category_init_before>
            <catalog_controller_category_init_after>
                <observers>
                    <vaimo_cms_disable_category_activation>
                        <type>disabled</type>
                        <vcms_mode>edit</vcms_mode>
                        <class>vaimo_cms/editor_observer</class>
                        <method>disableCategoryActivation</method>
                    </vaimo_cms_disable_category_activation>
                </observers>
            </catalog_controller_category_init_after>
        </events>
        <translate>
            <modules>
                <Vaimo_Cms>
                    <files>
                        <default>Vaimo_Cms.csv</default>
                    </files>
                </Vaimo_Cms>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <vaimo_cms>
                    <file>vaimo_cms.xml</file>
                </vaimo_cms>
            </updates>
        </layout>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <vaimo_cms_add_category_manager_toolbar>
                        <type>singleton</type>
                        <class>vaimo_cms/adminhtml_observer</class>
                        <method>addCategoryManagerToolbar</method>
                    </vaimo_cms_add_category_manager_toolbar>
                </observers>
            </adminhtml_block_html_before>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <vaimo_cms_add_edit_form_updates>
                        <type>singleton</type>
                        <class>vaimo_cms/adminhtml_observer</class>
                        <method>addEditFormUpdates</method>
                    </vaimo_cms_add_edit_form_updates>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <vaimo_cms_add_edit_preview_button>
                        <type>singleton</type>
                        <class>vaimo_cms/adminhtml_observer</class>
                        <method>addEditPreviewButton</method>
                    </vaimo_cms_add_edit_preview_button>
                    <vaimo_cms_add_clone_button>
                        <type>singleton</type>
                        <class>vaimo_cms/adminhtml_observer</class>
                        <method>addCloneButton</method>
                    </vaimo_cms_add_clone_button>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <catalog_category_save_after>
                <observers>
                    <vaimo_cms_sync_category_with_cms_page>
                        <type>singleton</type>
                        <class>vaimo_cms/adminhtml_observer</class>
                        <method>synchronizeCategoryWithCmsPage</method>
                    </vaimo_cms_sync_category_with_cms_page>
                </observers>
            </catalog_category_save_after>
            <category_prepare_ajax_response>
                <observers>
                    <vaimo_cms_update_category_icon>
                        <type>singleton</type>
                        <class>vaimo_cms/adminhtml_observer</class>
                        <method>updateCategoryIcon</method>
                    </vaimo_cms_update_category_icon>
                </observers>
            </category_prepare_ajax_response>
            <store_save_after>
                <observers>
                    <vaimo_cms_sync_update_default_structures>
                        <type>singleton</type>
                        <class>vaimo_cms/adminhtml_observer</class>
                        <method>updateDefaultStructureStores</method>
                    </vaimo_cms_sync_update_default_structures>
                </observers>
            </store_save_after>
            <vaimo_cms_widget_open_edit_form_before>
                <observers>
                    <vaimo_cms_switch_page_id_when_cloned_structure_present>
                        <type>singleton</type>
                        <class>vaimo_cms/adminhtml_observer</class>
                        <method>switchPageIdWhenClonedStructurePresent</method>
                    </vaimo_cms_switch_page_id_when_cloned_structure_present>
                </observers>
            </vaimo_cms_widget_open_edit_form_before>
        </events>
        <translate>
            <modules>
                <Vaimo_Cms>
                    <files>
                        <default>Vaimo_Cms.csv</default>
                    </files>
                </Vaimo_Cms>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <contentmanager before="Mage_Adminhtml">Vaimo_Cms_Adminhtml</contentmanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <vaimo_cms>
            <settings>
                <staging_enabled>1</staging_enabled>
                <rewrite_navigate_urls>1</rewrite_navigate_urls>
                <reuse_cms_blocks>0</reuse_cms_blocks>
            </settings>
        </vaimo_cms>
    </default>
</config>
