/* QuickCheckout ======================================================================================= */
.one-page-checkout .input-box-hide {
    display: none;
}

.one-page-checkout li {
    margin-bottom: 15px;
}

#checkout-step-billing .button-set {
    display: none;
}

#opc-shipping_method dt {
    margin-bottom: 10px;
}

#checkout-review-load {
    margin-bottom: 20px;
}

.checkout-onepage-index h2,
#checkoutSteps h3 {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
}

#checkoutSteps h3 {
	font-size: 18px;
	padding-bottom: 15px;
}

.payment-methods dd {
    margin-left: 20px;
}

.payment-methods dt label {
    font-weight: bold;
}

.sp-methods .price,
#checkout-review-table .price {
    font-size: inherit;
}

#checkout-review-loader {
    margin: 20px 0;
}

#checkout-review-loader {
    font-size: 18px;
}

#checkout-review-table .last td {
    border-top-width: 1px;
}

#checkout-payment-method-loader,
#checkout-shipping-method-loader {
    padding-left: 20px;
    background: url(../images/ajax-loader-small.gif) no-repeat center left;
}

#qc-loginform {
    padding-top: 10px;
}

.forgot-password-link {
    margin-top: 10px;
}

.one-page-checkout .badge-success:after {
	content:".";
}

/* Responsive fixes */
#opc-review {
	background: #e5e5e5;
	padding: 10px;
}

#opc-review h3 {
	display: none;
}

#opc-review tbody dd {
	margin: 0;
    display: inline;
}

.one-page-checkout .section {
	margin-bottom: 40px;
}

.one-page-checkout table td {
	border-color: #f5f5f5;
}

.one-page-checkout table th {
	font-weight: normal;
    padding: 5px 15px
}

.one-page-checkout table tbody td {
	font-weight: bold;
    padding: 5px 15px;
}

.one-page-checkout table td.first,
.one-page-checkout table th.first{
    padding-left: 0;
}

.one-page-checkout table td.last,
.one-page-checkout table th.last{
    padding-right: 0;
}

.one-page-checkout table tbody td dl {
	margin: 0;
    display: inline;
}

.one-page-checkout table tbody td dt {
	font-weight: normal;
	margin-left: 20px;
    display: inline;
}

.one-page-checkout table tbody td dd {
	font-weight: bold;
	margin-left: 20px;
}

.one-page-checkout table tfoot td {
	text-align: right;
}

.one-page-checkout table tfoot .grand-total-incl td {
	border-bottom: 1px #f5f5f5 solid;
	padding-top: 20px;
}

#co-billing-form select {
	margin-bottom: 12px;
	width: 222px;
}

.one-page-checkout .ssn input {
	width: 185px;
}

.one-page-checkout .radio input[type="radio"] {
	margin: 0 0 0 2px;
    margin-right: 5px;
    display: inline-block !important;
}

.one-page-checkout dd {
	margin-left: 0;
	margin-bottom: 20px;
}

#click-here-to-show-login {
	text-transform: none;
}

#click-here-to-show-login .u {
	margin-left: 35px;
	text-transform: uppercase;
}

#checkout-review-submit #review-buttons-container {
    display: none;
}