<?xml version="1.0"?>
<config>
    <modules>
        <Justuno_Social>
            <version>0.2.0</version>
        </Justuno_Social>
    </modules>
    <frontend>
        <layout>
            <updates>
                <social>
                    <file>justuno/social.xml</file>
                </social>
            </updates>
        </layout>
        <routers>
            <social>
                <use>standard</use>
                <args>
                    <module>Justuno_Social</module>
                    <frontName>social</frontName>
                </args>
            </social>
        </routers>
    </frontend>
    <global>
        <blocks>
            <justuno_social><class>Justuno_Social_Block</class></justuno_social>
        </blocks>
        <models>
           <justuno_social>
                <class>Justuno_Social_Model</class>
           </justuno_social> 
        </models>
        
        <helpers>
            <justuno_social>
                <class>Justuno_Social_Helper</class>
            </justuno_social>
        </helpers>
    </global>
</config>
