<?xml version="1.0" ?><config>
    <modules>
        <Icommerce_SearchResult>
            <version>0.1.6</version>
        </Icommerce_SearchResult>
    </modules>
    <global>
        <models>
            <searchresult>
                <class>Icommerce_SearchResult_Model</class>
            </searchresult>
            <catalogsearch_mysql4>
                <rewrite> 
                    <fulltext>Icommerce_SearchResult_Model_Mysql4_Fulltext</fulltext>
                </rewrite> 
            </catalogsearch_mysql4>
        </models>
        <helpers>
            <searchresult>
                <class>Icommerce_SearchResult_Helper</class>
            </searchresult>
        </helpers>
        <events>
            <catalogsearch_query_load_after>
                <observers>
                    <searchresult>
                        <class>searchresult/observer</class>
                        <method>catalogsearch_query_load_after</method>
                    </searchresult>
                </observers>
            </catalogsearch_query_load_after>
            <catalogsearch_query_save_before>
                <observers>
                    <searchresult>
                        <class>searchresult/observer</class>
                        <method>catalogsearch_query_save_before</method>
                    </searchresult>
                </observers>
            </catalogsearch_query_save_before>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <searchresult>
                                            <title>Icommerce Search Result Recalculate</title>
                                        </searchresult>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <reset_search_result>
                <run><model>searchresult/observer::cronResetSearchResults</model></run>
                <schedule><cron_expr>0 * * * *</cron_expr></schedule>
            </reset_search_result>
        </jobs>
    </crontab>
</config>
