<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <globale>
            <label>Global-e</label>
            <sort_order>1</sort_order>
        </globale>
    </tabs>
    <sections>
        <globale_settings>
            <label>Settings</label>
            <tab>globale</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <api_settings>
                    <label>API Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <settings_upload translate="label">
                            <label>Upload Global-e Configurations</label>
                            <comment><![CDATA[This file gives you a more easy way to update Global-e configurations.]]></comment>
                            <frontend_type>file</frontend_type>
                            <backend_model>globale_base/adminhtml_settings</backend_model>
                            <upload_dir>var/uploads/globale</upload_dir>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </settings_upload>
                        <merchant_id>
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchant_id>
                        <merchant_guid>
                            <label>Merchant GUID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchant_guid>
                        <environment>
                            <label>Global-e API Environment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>globale_base/adminhtml_system_config_source_environment</source_model>
                            <backend_model>globale_base/adminhtml_environment</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This field controls the API Path and Client API Path for each environment.</comment>
                        </environment>
                        <english_store_id>
                            <label>Default English store</label>
                            <frontend_type>select</frontend_type>
                            <source_model>globale_base/adminhtml_system_config_source_store</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Store with default english language</comment>
                        </english_store_id>
                        <log_enabled>
                            <label>Enable Log</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Global-e SDK log</comment>
                        </log_enabled>
                        <log_path>
                            <label>Log Path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The Path of the Global-e SDK log is relative to Magento root.</comment>
                            <backend_model>globale_base/adminhtml_system_config_validation_logpath</backend_model>
                        </log_path>
                    </fields>
                </api_settings>
                <products_settings>
                    <label>Products</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <catalog_price_as_fixed_prices>
                            <label>Use Catalog Prices As Fixed Prices</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                By selecting this the Global-e Extension will set the Catalog Prices as fixed prices.
                                Displayed and Base Currencies Must be equal.
                            </comment>
                        </catalog_price_as_fixed_prices>
                        <product_extra_attr>
                            <label>Extra Product Attributes</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Add extra product attributes in order to send them in the sendCart API request, in the checkout page.</comment>
                        </product_extra_attr>

                        <brand_attr>
                            <label>Brand attribute name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Add extra attribute for brand</comment>
                        </brand_attr>
                    </fields>
                </products_settings>
                <order_settings>
                    <label>Order</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>7</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <ext_order_id>
                            <label>Add External Order Id</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>By selecting this the Global-e Extension will add the Global-e Order Id to the Magento Order Table as ExternalOrderId.</comment>
                        </ext_order_id>
                        <shipping_method_carrier_mapping>
                            <label>Global-e special case shipping method to carrier mapping </label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>JSON that allow to use manual carrier data per Global-e shipping method id
                                For example: {"24":{"method":"tracked","method_title":"Tracked"}}
                            </comment>
                        </shipping_method_carrier_mapping>
                    </fields>
                </order_settings>

                <international_payment translate="label">
                    <label>International Payment</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>globale_base/adminhtml_system_config_source_internationalpayment</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>3</sort_order>
                        </order_status>
                    </fields>
                </international_payment>
            </groups>
        </globale_settings>
    </sections>
</config>