<?xml version="1.0"?>
<config>
    <modules>
        <Potato_CANavManager>
            <version>1.0.2</version>
        </Potato_CANavManager>
    </modules>
    <global>
        <blocks>
            <po_canm>
                <class>Potato_CANavManager_Block</class>
            </po_canm>
        </blocks>
        <helpers>
            <po_canm>
                <class>Potato_CANavManager_Helper</class>
            </po_canm>
        </helpers>
        <models>
            <po_canm>
                <class>Potato_CANavManager_Model</class>
            </po_canm>
        </models>
        <resources>
            <po_canm_setup>
                <setup>
                    <module>Potato_CANavManager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </po_canm_setup>
            <po_canm_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </po_canm_write>
            <po_canm_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </po_canm_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <po_canm>
                    <file>po_canm.xml</file>
                </po_canm>
            </updates>
        </layout>
        <translate>
            <modules>
                <Potato_Canm>
                    <files>
                        <default>Potato_CANavManager.csv</default>
                    </files>
                </Potato_Canm>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <po_canm>
                                            <title>Potato - Customer Account Navigation Manager</title>
                                        </po_canm>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <admin_system_config_save_canm_settings>
                        <class>po_canm/observer</class>
                        <method>adminSystemConfigSaveSettings</method>
                    </admin_system_config_save_canm_settings>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <canm_prepare_links>
                        <class>po_canm/observer</class>
                        <method>prepareLinksForFrontend</method>
                    </canm_prepare_links>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </frontend>
</config>