<?xml version="1.0" ?><config>
  <modules>
      <Icommerce_Slideshow> 
          <version>0.1.4</version>
          <depends>
              <Icommerce_SlideshowManager/>
          </depends>
      </Icommerce_Slideshow> 
  </modules>
  <global> 
    <models>
    </models>
    <blocks>
        <adminhtml>
            <rewrite>
            </rewrite>
        </adminhtml>
    </blocks>
    <resources>
    </resources>
    <blocks>
        <slideshow> 
            <class>Icommerce_Slideshow_Block</class>
        </slideshow>
    </blocks>
    <helpers>
        <slideshow>
          <class>Icommerce_Slideshow_Helper</class>
        </slideshow>
    </helpers>
    <models>
		<slideshow>
			<class>Icommerce_Slideshow_Model</class>
		</slideshow>
    </models>
  </global>
  <adminhtml>
      <acl>
          <resources>
              <admin>
				<children>
					<system>
						<children>
							<config>
								<children>
									<slideshow>
										<title>Slideshow</title>
									</slideshow>
								</children>
							</config>
						</children>
					</system>
				</children>
              </admin>
          </resources>
      </acl>
      <events/> 
      <translate/>
  </adminhtml> 
  <frontend>
      <routers/> 
      <events/> 
      <translate/> 
	  <layout>
		<updates>
			<slideshow>
				<file>icommerce_slideshow.xml</file>
			</slideshow>
		</updates>
	  </layout>
  </frontend>
  <!-- module defaults --> 
  <default>
      <!-- config values -->
      <slideshow>
          <settings>
          <active>0</active>
              <autostart>true</autostart>
              <interval>10000</interval>
              <transition>hslide</transition>
              <show_caption>onload</show_caption>
              <continuous>true</continuous>
          </settings>
      </slideshow> 
  </default>
  <crontab>
      <jobs>
      </jobs>
  </crontab>
</config>
