<?xml version="1.0"?>
<config>
    <modules>
        <Globale_DataProvider>
            <version>1.0.0</version>
        </Globale_DataProvider>
    </modules>
    <global>
        <helpers>
            <globale_dataprovider>
                <class>Globale_DataProvider_Helper</class>
            </globale_dataprovider>
        </helpers>
    </global>
</config>