<?xml version="1.0"?>
<config>
    <modules>
        <Hic_Integration>
            <version>1.0</version>
        </Hic_Integration>
    </modules>
    <global>
        <models>
            <integration>
                <class>Hic_Integration_Model</class>
            </integration>
            <paypal>
                <rewrite>
                    <config>Hic_Integration_Model_Config</config>
                </rewrite>
            </paypal>
        </models>
        <helpers>
            <integration>
                <class>Hic_Integration_Helper</class>
            </integration>
        </helpers>
        <blocks>
            <integration>
                <class>Hic_Integration_Block</class>
            </integration>
        </blocks>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <integration_intercept_response>
                        <class>integration/observer</class>
                        <method>interceptResponse</method>
                    </integration_intercept_response>
                </observers>
            </core_block_abstract_to_html_after>
            <checkout_cart_save_after>
                <observers>
                    <integration_flush_cache>
                        <class>integration/observer</class>
                        <method>flushCache</method>
                    </integration_flush_cache>
                </observers>
            </checkout_cart_save_after>
        </events>
    </frontend>
    <default>
        <integration>
            <settings>
                <enabled>1</enabled>
                <site_id></site_id>
            </settings>
        </integration>
    </default>
</config>