<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <TBT_RewardsApi2>
            <version>2.0.0</version>
        </TBT_RewardsApi2>
    </modules>
    <global>
        <resources>
            <rewardsapi2_setup>
                <setup>
                    <module>TBT_RewardsApi2</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rewardsapi2_setup>
            <rewardsapi2_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rewardsapi2_write>
            <rewardsapi2_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rewardsapi2_read>
        </resources>
        <events>
            <st_rewards_manage_diagnostics_reinstalldb_before>
                <observers>
                    <rewardsapi2_before_rewards_manage_diagnostics_reinstalldb>
                        <class>rewardsapi2/observer_diagnostics</class>
                        <method>reinstallDb</method>
                    </rewardsapi2_before_rewards_manage_diagnostics_reinstalldb>
                </observers>
            </st_rewards_manage_diagnostics_reinstalldb_before>
        </events>
        <helpers>
            <rewardsapi2>
                <class>TBT_RewardsApi2_Helper</class>
            </rewardsapi2>
        </helpers>
        <models>
            <rewardsapi2>
                <class>TBT_RewardsApi2_Model</class>
                <resourceModel>rewardsapi2_resource</resourceModel>
            </rewardsapi2>
            <rewardsapi2_resource>
                <class>TBT_RewardsApi2_Model_Resource</class>
            </rewardsapi2_resource>
        </models>
    </global>
    <frontend>
        <translate>
            <modules>
                <TBT_RewardsApi2>
                    <files>
                        <default>TBT_RewardsApi2.csv</default>
                    </files>
                </TBT_RewardsApi2>
            </modules>
        </translate>
    </frontend>
</config>
