<?xml version="1.0" ?><config>
    <modules>
        <Icommerce_SetFrontendCurrency>
            <version>0.1.8</version>
        </Icommerce_SetFrontendCurrency>
    </modules>
    <global>
        <helpers>
            <setfrontendcurrency>
                <class>Icommerce_SetFrontendCurrency_Helper</class>
            </setfrontendcurrency>
        </helpers>
        <models>
            <setfrontendcurrency>
                <class>Icommerce_SetFrontendCurrency_Model</class>
            </setfrontendcurrency>
            <core>
                <rewrite>
                    <locale>Icommerce_SetFrontendCurrency_Model_Locale</locale>
                </rewrite>
            </core>
            <directory>
                <rewrite>
                    <currency>Icommerce_SetFrontendCurrency_Model_Currency</currency>
                </rewrite>
            </directory>
        </models>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <setfrontendcurrency>
                                            <title>Icommerce SetFrontendCurrency</title>
                                        </setfrontendcurrency>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <setfrontendcurrency>
            <settings>
                <precision_active>0</precision_active>
                <precision>2</precision>
            </settings>
        </setfrontendcurrency>
    </default>
</config>
