<?xml version="1.0" ?><config>
    <modules>
        <Icommerce_Order>
            <version>0.1.34</version>
        </Icommerce_Order>
    </modules>
    <global>
        <models>
            <icorder>
                <class>Icommerce_Order_Model</class>
            </icorder>
        </models>
        <helpers>
            <icorder>
                <class>Icommerce_Order_Helper</class>
            </icorder>
        </helpers>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <icorder>
                        <type>singleton</type>
                        <class>icorder/observer</class>
                        <method>onSaveOrderAfter</method>
                    </icorder>
                </observers>
            </checkout_type_onepage_save_order_after>
            <sales_quote_save_after>
                <observers>
                    <icorder>
                        <type>singleton</type>
                        <class>icorder/observer</class>
                        <method>onSaveQuoteAfter</method>
                    </icorder>
                </observers>
            </sales_quote_save_after>
            <sales_order_save_after>
                <observers>
                    <icorder>
                        <type>singleton</type>
                        <class>icorder/observer</class>
                        <method>onSalesOrderSaveAfter</method>
                    </icorder>
                </observers>
            </sales_order_save_after>
            <sales_order_payment_cancel>
                <observers>
                    <icorder>
                        <class>icorder/observer</class>
                        <method>salesOrderCancel</method>
                    </icorder>
                </observers>
            </sales_order_payment_cancel>
            <sales_order_payment_refund>
                <observers>
                    <icorder>
                        <class>icorder/observer</class>
                        <method>salesPaymentRefund</method>
                    </icorder>
                </observers>
            </sales_order_payment_refund>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <icorder module="icorder" translate="title">
                                            <title>Admin - Order</title>
                                        </icorder>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <icorder>
            <payments>
                <paypal_dispatch_success_on_return>1</paypal_dispatch_success_on_return>
            </payments>
        </icorder>
    </default>
</config>
