<?xml version="1.0"?>
<config>
    <modules>
        <Mediotype_HyleteBase>
            <version>1.0.1</version>
        </Mediotype_HyleteBase>
    </modules>
    <global>
        <resources>
            <mediotype_hyletebase_setup>
                <setup>
                    <module>Mediotype_HyleteBase</module>
                </setup>
            </mediotype_hyletebase_setup>
        </resources>
    </global>
</config>
