<?xml version="1.0" ?><config>
    <modules>
        <Icommerce_QuickCheckout>
            <version>0.2.3</version>
            <depends>
				<Mage_Payment/>
            </depends>
        </Icommerce_QuickCheckout>
    </modules>
    <global>
		<models>
            <sales>
               	<rewrite>
                    <quote_payment>Icommerce_QuickCheckout_Model_Quote_Payment</quote_payment>
                </rewrite>
            </sales>
		</models>
		<blocks>
            <checkout>
                <rewrite>
                    <onepage>Icommerce_QuickCheckout_Block_Checkout_Onepage</onepage>
                </rewrite>
            </checkout>
		</blocks>
  		<resources>
    	</resources>
	    <helpers>
	        <quickcheckout>
	          <class>Icommerce_QuickCheckout_Helper</class>
			</quickcheckout>
		</helpers>
    </global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<quickcheckout>
											<title>Icommerce QuickCheckout</title>
										</quickcheckout>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<events/>
        <translate>
            <modules>
                <Icommerce_QuickCheckout>
                    <files>
                        <quickcheckout>Icommerce_QuickCheckout.csv</quickcheckout>
                    </files>
                </Icommerce_QuickCheckout>
            </modules>
        </translate>
  	</adminhtml>
    <frontend>
        <secure_url>
            <ic_quickcheckout>/quickcheckout/QuickCheckout</ic_quickcheckout>
            <ic_quickcheckout_ajax>/quickcheckout/ajax</ic_quickcheckout_ajax>
        </secure_url>
		<routers>
			<quickcheckout>
				<use>standard</use>
				<args>
					<module>Icommerce_QuickCheckout</module>
					<frontName>quickcheckout</frontName>
				</args>
			</quickcheckout>
            <checkout>
                <args>
                    <modules>
                        <Icommerce_QuickCheckout before="Mage_Checkout">Icommerce_QuickCheckout</Icommerce_QuickCheckout>
                    </modules>
                </args>
            </checkout>
		</routers>
		<events/>
        <translate>
            <modules>
                <Icommerce_QuickCheckout>
                    <files>
                        <quickcheckout>Icommerce_QuickCheckout.csv</quickcheckout>
                    </files>
                </Icommerce_QuickCheckout>
            </modules>
        </translate>
        <layout>
            <updates>
                <quickcheckout>
                    <file>icommerce_quickcheckout.xml</file>
                </quickcheckout>
            </updates>
        </layout>
	</frontend>
	<default>
		<quickcheckout>
			<settings>
				<expand_loginform_in_quickcheckout>0</expand_loginform_in_quickcheckout>
				<autofill_customer_address>0</autofill_customer_address>
				<enable_separate_shipping_address>0</enable_separate_shipping_address>
				<show_forgot_password_link>1</show_forgot_password_link>
                <enable_accept_terms_popup>0</enable_accept_terms_popup>
                <update_shipping_on_region_change>0</update_shipping_on_region_change>
                <not_redirect_onepage_to_cart_on_error>0</not_redirect_onepage_to_cart_on_error>
                <redirect_not_logged_in_customer_to_registration>0</redirect_not_logged_in_customer_to_registration>
                <redirect_not_logged_in_customer_to_login>0</redirect_not_logged_in_customer_to_login>
                <payment_as_first_step>0</payment_as_first_step>
			</settings>
		</quickcheckout>
	</default>
	<crontab>
		<jobs>
      	</jobs>
  	</crontab>
</config>
