<?xml version="1.0"?>
<config>
    <modules>
        <Devweb_PaypalRedirect>
            <version>0.1.0</version>
        </Devweb_PaypalRedirect>
    </modules>
    <global>
        <models>
            <paypalredirect>
                <class>Devweb_PaypalRedirect_Model</class>
            </paypalredirect>
            <paypal>
                <rewrite>
                    <api_nvp>Devweb_PaypalRedirect_Model_Paypal_Api_Nvp</api_nvp>
                </rewrite>
            </paypal>
            <paypaluk>
                <rewrite>
                    <api_nvp>Devweb_PaypalRedirect_Model_PaypalUk_Api_Nvp</api_nvp>
                    <api_express_nvp>Devweb_PaypalRedirect_Model_PaypalUk_Api_Express_Nvp</api_express_nvp>
                </rewrite>
            </paypaluk>
        </models>
        <helpers>
            <paypalredirect>
                <class>Devweb_PaypalRedirect_Helper</class>
            </paypalredirect>
        </helpers>
    </global>
    <frontend>
        <events>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <paypaluk_sales_model_service_quote_submit_failure>
                        <type>singleton</type>
                        <class>paypalredirect/observer</class>
                        <method>catchRedirect</method>
                    </paypaluk_sales_model_service_quote_submit_failure>
                </observers>
            </sales_model_service_quote_submit_failure>
        </events>        
    </frontend>
</config>
