<?xml version="1.0"?>
<config>
    <modules>
        <Cryozonic_StripeExpress>
            <version>1.0.0</version>
        </Cryozonic_StripeExpress>
    </modules>
    <global>
        <blocks>
            <cryozonic_stripeexpress>
                <class>Cryozonic_StripeExpress_Block</class>
            </cryozonic_stripeexpress>
        </blocks>
        <helpers>
            <cryozonic_stripeexpress>
                <class>Cryozonic_StripeExpress_Helper</class>
            </cryozonic_stripeexpress>
        </helpers>
        <models>
            <cryozonic_stripeexpress>
                <class>Cryozonic_StripeExpress_Model</class>
            </cryozonic_stripeexpress>
        </models>
        <resources>
            <cryozonic_stripeexpress_setup>
                <setup>
                    <module>Cryozonic_StripeExpress</module>
                </setup>
            </cryozonic_stripeexpress_setup>
        </resources>
    </global>
    <default>
        <payment>
            <cryozonic_stripeexpress>
                <cart_button>1</cart_button>
                <product_button>1</product_button>
                <ccsave>1</ccsave>
                <button_type>default</button_type>
                <button_theme>dark</button_theme>
                <button_height>33</button_height>
            </cryozonic_stripeexpress>
        </payment>
    </default>
    <frontend>
        <routers>
            <cryozonic_stripeexpress>
                <use>standard</use>
                <args>
                    <frontName>stripeexpress</frontName>
                    <module>Cryozonic_StripeExpress</module>
                </args>
            </cryozonic_stripeexpress>
        </routers>
        <translate>
            <modules>
                <Cryozonic_StripeExpress>
                    <files>
                        <default>Cryozonic_StripeExpress.csv</default>
                    </files>
                </Cryozonic_StripeExpress>
            </modules>
        </translate>
        <layout>
            <updates>
                <cryozonic_stripeexpress>
                    <file>cryozonic_stripeexpress.xml</file>
                </cryozonic_stripeexpress>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Cryozonic_StripeExpress>
                    <files>
                        <default>Cryozonic_StripeExpress.csv</default>
                    </files>
                </Cryozonic_StripeExpress>
            </modules>
        </translate>
        <layout>
            <updates>
                <cryozonic_stripeexpress>
                    <file>cryozonic_stripeexpress/adminhtml.xml</file>
                </cryozonic_stripeexpress>
            </updates>
        </layout>
    </adminhtml>
</config>
