<?xml version="1.0"?>
<config>
    <modules>
        <CoreRewrites_CatalogInventory>
            <version>0.1.0</version>
        </CoreRewrites_CatalogInventory>
    </modules>
    <global>
        <models>
            <cataloginventory_resource>
                <rewrite>
                    <stock>CoreRewrites_CatalogInventory_Model_Resource_Stock</stock>
                </rewrite>
            </cataloginventory_resource>
        </models>
    </global>
</config>