<?xml version="1.0" ?><config>
    <modules>
        <Icommerce_Attributebinder>
            <version>0.2.16</version>
        </Icommerce_Attributebinder>
    </modules>
    <global>
        <blocks>
            <attributebinder>
                <class>Icommerce_Attributebinder_Block</class>
            </attributebinder>
        </blocks>
        <helpers>
            <attributebinder>
                <class>Icommerce_Attributebinder_Helper</class>
            </attributebinder>
        </helpers>
        <models>
            <attributebinder>
                <class>Icommerce_Attributebinder_Model</class>
                <resourceModel>attributebinder_mysql4</resourceModel>
            </attributebinder>
            <attributebinder_mysql4>
                <class>Icommerce_Attributebinder_Model_Mysql4</class>
                <entities>
                    <attributebinder>
                        <table>icommerce_attributebinder</table>
                    </attributebinder>
                    <bindings>
                        <table>icommerce_attributebinder_bindings</table>
                    </bindings>
                </entities>
            </attributebinder_mysql4>
            <!-- Rewrite for fastsimpleimport to manager bindings while importing. -->
            <fastsimpleimport>
                <rewrite>
                    <arrayAdapter>Icommerce_Attributebinder_Model_ArrayAdapter</arrayAdapter>
                </rewrite>
            </fastsimpleimport>
        </models>
        <resources>
            <attributebinder>
                <setup>
                  <class>Icommerce_Attributebinder_Model_Setup</class>
                  <module>Icommerce_Attributebinder</module>
                </setup>
            </attributebinder>
        </resources>
        <events>
            <catalog_product_save_before>
                <observers>
                    <attributebinder>
                        <type>singleton</type>
                        <class>attributebinder/observer</class>
                        <method>applyAttributebinderBindings</method>
                    </attributebinder>
                </observers>
            </catalog_product_save_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <attributebinder before="Mage_Adminhtml">Icommerce_Attributebinder_Adminhtml</attributebinder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <attributes>
                        <children>
                            <attributebinder module="attributebinder" translate="title">
                                <title>Manage Attributebinder</title>
                                <action>adminhtml/attributebinder_attributebinder</action>
                                <sort_order>999</sort_order>
                            </attributebinder>
                        </children>
                    </attributes>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <attributes>
                                    <children>
                                        <attributebinder translate="title">
                                            <title>Manage Attributebinder</title>
                                        </attributebinder>
                                    </children>
                                </attributes>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <attributebinder>
                    <file>icommerce_attributebinder.xml</file>
                </attributebinder>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <scheduler_run_operations>
                <schedule><cron_expr>00 04 * * *</cron_expr></schedule>
                <run><model>attributebinder/observer::rescanAttributeBinders</model></run>
            </scheduler_run_operations>
        </jobs>
    </crontab>
</config>