#shipping-method-tooltip {
    width: 250px;
    background: #fff;
    padding: 10px;
    text-align: left;
    position: absolute;
    z-index: 999;
    border: 1px solid #c0c0c0;
     -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    border-radius: 5px; /* CSS3 */
    font-size: 12px;
	/* Drop shadows */
	-moz-box-shadow: 3px 3px 4px #c0c0c0;
	-webkit-box-shadow: 3px 3px 4px #c0c0c0;
	box-shadow: 3px 3px 4px #c0c0c0;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#c0c0c0')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#c0c0c0');
}

.shipping-method-tooltip-icon {
    cursor: pointer;
}