<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Mediotype_HyletePrice>
            <version>0.0.4</version>
        </Mediotype_HyletePrice>
    </modules>

    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_list>Mediotype_HyletePrice_Block_Catalog_Product_List</product_list>
                    <product_view>Mediotype_HyletePrice_Block_Catalog_Product_View</product_view>
                </rewrite>
            </catalog>

            <adminhtml>
                <rewrite>
                    <customer_group_edit_form>Mediotype_HyletePrice_Block_Adminhtml_Customer_Group_Edit_Form</customer_group_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>

        <models>
            <mediotype_hyleteprice>
                <class>Mediotype_HyletePrice_Model</class>
            </mediotype_hyleteprice>
        </models>

        <helpers>
            <mediotype_hyleteprice>
                <class>Mediotype_HyletePrice_Helper</class>
            </mediotype_hyleteprice>
        </helpers>

        <resources>
            <mediotype_hyleteprice_setup>
                <setup>
                    <module>Mediotype_HyletePrice</module>
                </setup>

                <connection>
                    <use>core_setup</use>
                </connection>
            </mediotype_hyleteprice_setup>
        </resources>
    </global>

    <frontend>
        <layout>
            <updates>
                <mediotype_hyleteprice>
                    <file>mediotype_hyleteprice.xml</file>
                </mediotype_hyleteprice>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mediotype_HyletePrice before="Mage_Adminhtml">Mediotype_HyletePrice_Adminhtml</Mediotype_HyletePrice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
