<?xml version="1.0" ?><config>
	<modules>
		<Icommerce_PaymentShared>
			<version>0.2.5</version> 
			<depends>
				<Mage_Payment/>
			</depends>
		</Icommerce_PaymentShared> 
	</modules>
	<global>
		<helpers>
			<paymentshared>
				<class>Icommerce_PaymentShared_Helper</class>
			</paymentshared>
		</helpers>
		<!--<models>
        	<sales>
            	<rewrite>
               		<quote_address>Icommerce_PaymentShared_Model_Quote_Address</quote_address>
               	</rewrite>
           	</sales>
       	</models>-->
        <models>
            <paymentshared>
                <class>Icommerce_PaymentShared_Model</class>
            </paymentshared>
        	<sales>
            	<rewrite>
               		<quote_address_rate>Icommerce_PaymentShared_Model_Quote_Address_Rate</quote_address_rate>
               	</rewrite>
           	</sales>
       	</models>
	</global> 
	<frontend>
		<layout>
			<updates>
				<paymentshared>
					<file>icommerce_payment_shared.xml</file>
				</paymentshared>
			</updates>
		</layout>
	</frontend>

	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<paymentshared>
											<title>Basic Settings</title>
										</paymentshared>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<translate>
			<modules>
				<mage_adminhtml>
					 <files>
						  <paymentshared>Icommerce_PaymentShared.csv</paymentshared>
					 </files>
				</mage_adminhtml>
			</modules>
		</translate>
		<layout>
			<updates>
				<creditcheck>
					<file>icommerce_creditcheck.xml</file>
				</creditcheck>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<paymentshared>
			<payments>
				<use_lightbox_in_pay_win>1</use_lightbox_in_pay_win>
                <save_pno_with_billing>0</save_pno_with_billing>
			</payments>
		</paymentshared>
	</default>

</config>
