<?xml version="1.0"?>
<config>
    <modules>
        <Hylete_Notifications>
            <version>1.0.0</version>
        </Hylete_Notifications>
    </modules>
    <global>
        <helpers>
            <hylete_notifications>
                <class>Hylete_Notifications_Helper</class>
            </hylete_notifications>
        </helpers>
        <models>
            <hylete_notifications>
                <class>Hylete_Notifications_Model</class>
            </hylete_notifications>
        </models>
    </global>
    <frontend>
        <events>
            <customer_register_success>
                <observers>
                    <send_account_created>
                        <class>Hylete_Notifications_Model_Observer</class>
                        <method>sendAccountCreatedEvent</method>
                    </send_account_created>
                </observers>
            </customer_register_success>
            <sales_order_place_after>
                <observers>
                    <send_order_created>
                        <class>Hylete_Notifications_Model_Observer</class>
                        <method>sendOrderCreatedEvent</method>
                    </send_order_created>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <hylete_notifications_settings>
                                            <title>HYLETE Webhook Settings</title>
                                        </hylete_notifications_settings>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
