<?xml version="1.0" ?><config>
    <modules>
        <Icommerce_Dibs>
            <version>1.0.162</version>
        </Icommerce_Dibs>
    </modules>
    <global>
        <models>
            <dibs>
                <class>Icommerce_Dibs_Model</class>
            </dibs>
        </models>
        <helpers>
            <dibs>
                <class>Icommerce_Dibs_Helper</class>
            </dibs>
        </helpers>
        <blocks>
            <dibs>
                <class>Icommerce_Dibs_Block</class>
            </dibs>
        </blocks>
        <resources>
            <dibs_setup>
                <setup>
                    <module>Icommerce_Dibs</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </dibs_setup>
            <dibs_write>
                <connection>
                    <use>local_write</use>
                </connection>
            </dibs_write>
            <dibs_read>
                <connection>
                    <use>local_read</use>
                </connection>
            </dibs_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <dibs>
                <use>standard</use>
                <args>
                    <module>Icommerce_Dibs</module>
                    <frontName>dibs</frontName>
                </args>
            </dibs>
        </routers>
        <translate>
            <modules>
                <Icommerce_Dibs>
                    <files>
                        <default>Icommerce_Dibs.csv</default>
                    </files>
                </Icommerce_Dibs>
            </modules>
        </translate>
        <events>
            <sales_quote_payment_import_data_before>
                <observers>
                    <fix_payment_method>
                        <class>dibs/observer</class>
                        <method>fixPaymentMethod</method>
                    </fix_payment_method>
                </observers>
            </sales_quote_payment_import_data_before>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Icommerce_Dibs>
                    <files>
                        <default>Icommerce_Dibs.csv</default>
                    </files>
                </Icommerce_Dibs>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <dibs>
                <active>1</active>
                <cgi_url>https://payment.architrade.com/payment/start.pml</cgi_url>
                <cgi_url_flex>https://payment.architrade.com/paymentweb/start.action</cgi_url_flex>
                <cgi_url_payment_window>https://sat1.dibspayment.com/dibspaymentwindow/entrypoint</cgi_url_payment_window>
                <cgi_url_capture>https://payment.architrade.com/cgi-bin/capture.cgi</cgi_url_capture>
                <url_failure>dibs/dibs/cancel</url_failure>
                <url_accept>dibs/dibs/success</url_accept>
                <url_callback>dibs/dibs/callback</url_callback>
                <model>dibs/dibs</model>
                <language>auto</language>
                <use_base_currency>1</use_base_currency>
                <use_base_currency_order_review>0</use_base_currency_order_review>
                <vat_field_label>Moms</vat_field_label>
                <decorator>default</decorator>
                <color>default</color>
                <order_status>pending</order_status>
                <order_status_reserved>reserved</order_status_reserved>
                <order_status_captured>captured</order_status_captured>
                <order_status_pay_failed>pay_aborted</order_status_pay_failed>
                <direct_capture>0</direct_capture>
                <window_type>0</window_type>
                <display_logos>1</display_logos>
                <showlogos>DIBS</showlogos>
                <api_test>1</api_test>
                <title>Dibs Payment</title>
                <sort_order>10</sort_order>
                <account_number>1111111</account_number>
                <allowspecific>0</allowspecific>
                <payment_action>authorize</payment_action>
            </dibs>
        </payment>
    </default>
</config>
