<?xml version="1.0"?>
<config>
    <sections>
        <payment translate="label" module="payment">
            <groups>
                <dibs translate="label">
                    <label>Dibs payment</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <!-- <order_status translate="label">
                            <label>Default status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>orderstatus/config_status_new</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status> -->
                        <order_status_reserved translate="label">
                            <label>Order reserved</label>
                            <frontend_type>select</frontend_type>
                            <source_model>orderstatus/config_status_new</source_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status_reserved>
                        <order_status_captured translate="label">
                            <label>Order captured</label>
                            <frontend_type>select</frontend_type>
                            <source_model>orderstatus/config_status_processing</source_model>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status_captured>
                        <order_status_pay_failed translate="label">
                            <label>Payment canceled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>orderstatus/config_status_canceled</source_model>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status_pay_failed>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                        <part_capture translate="label">
                            <label>Part Capture</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>29</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </part_capture>
                        <reactivate_quote translate="label">
                            <label>Refill cart if payment cancelled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </reactivate_quote>
                        <redirect_to_cart_on_cancel translate="label">
                            <label>Redirect to the cart on payment cancel</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>33</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <reactivate_quote>1</reactivate_quote>
                            </depends>
                        </redirect_to_cart_on_cancel>
                        <api_test translate="label">
                            <label>Test</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>34</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_test>
                        <account_number translate="label">
                            <label>Account ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </account_number>
                        <md5_k1 translate="label">
                            <label>MD5 Nyckel 1 (k1)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </md5_k1>
                        <md5_k2 translate="label">
                            <label>MD5 Nyckel 2 (k2)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </md5_k2>
                        <mac_hex translate="label">
                            <label>MAC encryption key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mac_hex>
                        <account_tag translate="label">
                            <label>Department ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If you have seperate departments in your Dibs account, you can tag the invoices with this ID.</comment>
                        </account_tag>
                        <direct_capture translate="label">
                            <label>Direct capture</label>
                            <frontend_type>select</frontend_type>
                            <source_model>dibs/config_capture</source_model>
                            <sort_order>63</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </direct_capture>
                        <preform_cancel translate="label">
                            <label>Cancel amount online when cancelling order</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </preform_cancel>
                        <preform_refund translate="label">
                            <label>Refund amount online when crediting order</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>67</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </preform_refund>
                        <account_number_refund translate="label">
                              <label>Account ID (for refund and cancel, if different from main ID)</label>
                              <frontend_type>text</frontend_type>
                              <sort_order>68</sort_order>
                              <show_in_default>1</show_in_default>
                              <show_in_website>1</show_in_website>
                              <show_in_store>1</show_in_store>
                          </account_number_refund>
                        <account_password translate="label">
                            <label>Account password (for refund and cancel)</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>69</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </account_password>
                        <window_type translate="label">
                            <label>Payment window</label>
                            <frontend_type>select</frontend_type>
                            <source_model>dibs/config_windows</source_model>
                            <sort_order>73</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </window_type>
                        <language translate="label">
                            <label>Payment window language</label>
                            <frontend_type>select</frontend_type>
                            <source_model>dibs/config_languages</source_model>
                            <sort_order>74</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </language>
                        <use_base_currency>
                            <label>Use Base Currency on gateway page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>75</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_base_currency>
                        <use_base_currency_order_review>
                            <label>Use Base Currency on gateway order review page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>76</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_base_currency_order_review>
                        <vat_field_label>
                            <label>Label for Moms field</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>77</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </vat_field_label>
                        <color translate="label">
                            <label>Payment window color</label>
                            <frontend_type>select</frontend_type>
                            <source_model>dibs/config_colors</source_model>
                            <sort_order>78</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </color>
                        <decorator translate="label">
                            <label>FlexWin Decorator</label>
                            <frontend_type>select</frontend_type>
                            <source_model>dibs/config_decorators</source_model>
                            <sort_order>79</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </decorator>
                        <allowspecific translate="label">
                            <label>Payment from applicable countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>80</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowspecific>
                        <specificcountry translate="label">
                            <label>Payment from Specific countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>81</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificcountry>
                        <display_logos translate="label">
                            <label>Display Logos</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>85</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_logos>
                        <showlogos translate="label">
                            <label>Which logos to show</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>dibs/config_showlogos</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <display_logos>1</display_logos>
                            </depends>
                        </showlogos>
                        <cgi_url translate="label">
                            <label>Default URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>95</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cgi_url>
                        <cgi_url_flex translate="label">
                            <label>FlexWin URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>96</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cgi_url_flex>
                        <cgi_url_capture translate="label">
                            <label>Capture URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>97</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cgi_url_capture>
                        <cgi_url_payment_window translate="label">
                            <label>Dibs Payment Window</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>99</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cgi_url_payment_window>
                        <minimumsum translate="label">
                            <label>Minimum Sum</label>
                            <comment>Set a minimum sum for this payment option to be visible</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minimumsum>
                        <model>
                        </model>
                    </fields>
                </dibs>
            </groups>
        </payment>
    </sections>
</config>
