/* Shopping Cart ========================================================================= */
.cart .page-title {
}

.cart h2 {
    font-size: 16px;
}

/* Shopping Cart Mobile Header */
.mobile-cart-header {
    margin-top: 24px;
    text-align: left;
}

.mobile-cart-header .cart-login {
    margin: 0;
    text-align: left;
}

.mobile-cart-header .cart-login a {
    text-decoration: underline;
    white-space: nowrap;
}

/* Shopping Cart Table */
.cart-table {
    margin: 10px 0;
}

.cart-table .item-msg {
    font-size: 10px;
}

.cart-table thead {
    background: transparent;
}

.cart-table th {
    border: none;
    font-weight: normal;
    padding: 0 15px 5px 15px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.cart-table tr.last {
    border-bottom: none;
}

.cart-table td {
    border: none;
    padding: 15px;
}

.cart-table td.remove {
    padding-right: 0;
}

.cart-table tfoot td {
    padding: 15px 0 0 0;
    border-top: 1px solid #ccc;
}

.cart-table tfoot button {
    margin-bottom: 3px;
}

.cart-table .backlink {
    float: left;
}

.cart-table .btn-remove2 {
    margin: 0;
}

.cart-table .link-wishlist {
    margin: 25px 0 0 0;
    display: block;
}

.cart-table .product-image img {
    max-width: none;
}

.cart-table .product-name.has-options {
    margin: 10px 0 0 0;
}

.cart-table .product-name .color {
    margin: 5px 0;
}

.cart-table .item-options {
    margin: 0;
}

.cart-table .cart-price {
    display: block;
    text-align: center;
}

.cart-table .qty {
    text-align: center;
    width: 38px;
}

/* Shopping Cart Collateral boxes */

.cart .crosssell h2 {
    margin-top: 0;
}

.cart .crosssell .product-name {
    font-size: inherit;
    margin-bottom: 5px;
}

.cart .crosssell .button {
    margin: 0 0 10px 0;
}

.cart .crosssell .old-price,
.cart .crosssell .special-price {
    margin-bottom: 5px;
}

/* Options Tool Tip */
.cart .item-options dd {
    padding-left: 10px;
}

.truncated {
    cursor: help;
}

.truncated a.dots {
    cursor: help;
}

.truncated a.details {
    cursor: help;
}

.truncated .truncated_full_value {
    position: relative;
    z-index: 999;
}

.truncated .show .item-options {
    top: -20px;
    left: 50%;
}

.col-left .truncated .show .item-options {
    left: 30px;
    top: 7px;
}

.col-right .truncated .show .item-options {
    left: -240px;
    top: 7px;
}

/* Discounts */

.discounts {
    border-top: 1px #e5e5e5 solid;
}

.discounts h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.discounts label {
    display: block;
}

.discounts input {
    margin: 0px 5px 0 0;
    width: 220px;
}

.check-gc-status {
    display: inline-block;
}

.discounts button {
    margin: 0;
    vertical-align: top;
}

.discounts .apply {
    margin-right: 15px;
}

.discounts button {
    width: 140px;
}

.discounts .validation-advice {
    position: absolute;
}

.discount,
.giftcard {
    padding-left: 26px;
}

.giftcard button,
.discount-form button {
    display: block;
}

.giftcard form .button-section p {
    text-align: center;
    margin: 8px 0;
}

.giftcard form .button-section a {
    display: block;
    text-align: center;
    text-decoration: underline;
}

.giftcard form .button-section a:hover {
    text-decoration: none;
}

.cart .btn-proceed-checkout {
    width: 100%;
}

.cart .totals {
    margin-top: 6px;
    padding-left: 25px;
    text-transform: lowercase;
}

.cart .totals table {
    width: 100%;
}

.promo-content {
    display: none;
}

.open-promo:checked ~ .promo-content {
    display: block;
}

.giftcard-content {
    display: none;
}

.open-giftcard:checked ~ .giftcard-content {
    display: block;
}

.coupons-wrapper-logged .cart-points-spender {
    display: inline-block;
}

.coupons-wrapper-logged .promo-wrapper {

}

.coupons-wrapper {
    margin-top: 29px;
}
.cart .discounts {

}
.cart .totals th {
    text-align: left;
}

.cart .totals td {
    padding: 4px 0;
    text-align: right;
}

.cart .totals td:first-child {
    text-align: left;
}

.cart .totals .price {
    white-space: nowrap;
}

.cart .totals button {
    margin: 0;
}

.cart .totals .cart-below-checkout-button {
    margin-top: 25px;
}

.cart .totals .cart-above-checkout-button {
    height: 25px;
    display: block;
}

.page-title .cart-title {
    width: 100%;
    float: none;
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
    margin-top: 0;
    margin-bottom: 0;
}

.cart .continue-shopping {
    float: left;
    display: inline-block;
    text-align: center;
    margin: 5px 5px 5px 0;
    padding: 5px 5px 5px 0;
}

p.actions button#empty_cart_button {
    font-weight: normal;
    padding: 0;
}

.button-text {
    border: none;
}

.button-text:hover {
    background: transparent;
    color: #000;
    text-decoration: underline;
}

.qty-controls {
    white-space: nowrap;
}

.qty-controls .qty-plus {
    font-size: 12px;
}

.qty-controls .qty-minus {
    font-size: 14px;
}

.mobile-product-qty {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    margin-top: 14px;
    width: 130px;
    font-size: 20px;
    text-align: center;
}

.mobile-product-qty .qty-minus.mobile,
.mobile-product-qty .qty-plus.mobile {
    display: inline-block;
    width: 38px;
    border: 1px solid #000;
}

.mobile-product-qty .qty-minus.mobile span {
    position: relative;
    top: 8px;
}

.mobile-product-qty .qty-plus.mobile span {
    position: relative;
    top: 10px;
}

.qty-controls span {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
}

.cart-login {
    margin: 25px 0;
    text-align: center;
}

.cart-login h2 {
    margin-bottom: 0;
}

.cart-login p {
    margin: 8px 0;
}

.points-amount {
    text-transform: none;
}

.points-to-spend {
    margin-bottom: 5px;
}

.tbt-reward h2 {
    font-size: 15px;
}

/** Buttons from firecheckout **/

cart-login:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.button-login-facebook {
    background: #3b5998 none repeat scroll 0 0;
    border-color: #3b5998;
    color: #fff;
}

.login-section-action {
    float: left;
    width: 49%;
}

.login-section-button {
    margin: 0;
    font-weight: bold;
    height: 40px;
    padding: 10px 12px;
    text-align: center;
    display: block;
}

.login-section-actions::after {
    clear: both;
    content: "";
    display: table;
}

.login-section-action .fa {
    font-size: 16px;
    margin-right: 3px;
    vertical-align: text-bottom;
}

.login-section-action:first-child {
    margin-right: 2%;
}

.login-section-action:first-child > div > p {
    margin: 8px 0 4px;
}

.login-section-action .button-create-account {
    font-size: 12px;
    text-decoration: underline;
    display: block;
}

.login-section-action .button-create-account:hover {
    text-decoration: none;
}

.firecheckout-set button.btn-checkout, .firecheckout-set button.btn-primary, .firecheckout-window button.button {
    background-color: #34baf3;
}

.firecheckout-set input.input-text, .firecheckout-set .form-list select, .firecheckout-set select, .firecheckout-set textarea {
    border-color: #d3d3d3;
}

.firecheckout-set .field .input-box, .firecheckout-set .wide .input-box, .firecheckout-set .captcha-input-container .input-box {
    position: relative;
}

.firecheckout-set input[type="checkbox"], .firecheckout-set input[type="radio"] {
    transition: none !important;
    -webkit-transition: none !important;
    border-radius: 0 !important;
}

.firecheckout-set input[type="checkbox"]::after, .firecheckout-set input[type="radio"]::after {
    transition: none !important;
    -webkit-transition: none !important;
    transform: none !important;
}

#firecheckout-form .firecheckout-set input[type="checkbox"], #firecheckout-form .firecheckout-set input[type="radio"] {
    box-shadow: 0 0 0 0 #000 inset !important;
    border-radius: 0 !important;
    border-color: #000;
    -webkit-transition: none !important;
    transition: none !important;
}

#firecheckout-form .firecheckout-set input[type="radio"] {
    border-radius: 50% !important;
}

#firecheckout-form .firecheckout-set input[type="checkbox"]:checked, #firecheckout-form .firecheckout-set input[type="radio"]:checked {
    box-shadow: 0 0 0 10px #000 inset !important;
}

#firecheckout-form .firecheckout-set input[type="checkbox"]:checked:focus, #firecheckout-form .firecheckout-set input[type="radio"]:checked:focus {
    box-shadow: 0 0 0 10px #000 inset !important;
}

.cart-collaterals .discounts {
    padding-top: 22px;
}

.link-forgot-password, .firecheckout-window a.link-forgot-password {
    float: right;
    font-size: 12px;
    margin-top: 2px;
}

.firecheckout-window a {
    color: #1152ad;
}

.firecheckout-index-index .giftcard {
    padding-left: 0;
}

.firecheckout-index-index #checkout-giftcard-load,
.firecheckout-index-index #checkout-coupon-discount-load {
    padding: 0 23px;
}

.firecheckout-index-index #checkout-giftcard-load .b-discount__title,
.firecheckout-index-index #checkout-coupon-discount-load .b-discount__title {
    padding: 0;
}

.firecheckout-index-index #checkout-giftcard-load .b-discount__title span,
.firecheckout-index-index #checkout-coupon-discount-load .b-discount__title span {
    margin: 8px 0 0 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: lowercase;
}

.rewards-box-spend-minicart.discount h2 {
    margin: 0;
}

.rewards-box-spend-minicart {
    padding-left: 0;
}

.coupons-checkboxes {
    padding-left: 16px;
}

.coupons-checkboxes > .promo {
    margin-bottom: 10px;
}

/* Cart page checkboxes */
.open-promo,
.open-giftcard {
    position: relative;
}

.open-promo + label::before,
.open-giftcard + label::before {
    display: none !important;
}

.open-promo,
.open-giftcard {
    -webkit-appearance: none;
    position: relative;
    z-index: 1;
    padding: 0;
    background: none;
    box-shadow: 0 0 0 0 #aaa inset !important;
    border: 1px solid #000;
    outline: 0;
    width: 16px !important;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    cursor: pointer;
    float: left;
    top: 0;
    vertical-align: middle;
    display: inline-block !important;
}

.open-promo::after,
.open-giftcard::after {
    content: ' ';
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: -97px -1px;
    opacity: 0;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
}

.open-promo:checked,
.open-giftcard:checked {
    border: none;
}

.open-promo:checked::after,
.open-giftcard:checked::after {
    opacity: 1;
}

.amrules-amount {
    vertical-align: top;
}

.totals tr.summary-total .amrules-discount-label {
    text-align: left;
    float: left;
    padding-left: 0;
}

.cart .totals .a-right.amrules-discount-wrapper {
    padding-left: 15px;
}

.amrules-discount {
    margin-left: -15px;
}

.summary-total .fa-angle-up {
    margin-left: 15px;
    transform: rotate(90deg);
}

.summary-total.show-details .fa-angle-up {
    transform: rotate(0deg);
}

.cart-collaterals .rewards-box-spend-minicart .cartSlider {
    width: 270px;
}

.cart-collaterals .rewards-box-spend-minicart .cartSlider .slider {
    position: relative;
}

.cart-collaterals .rewards-box-spend-minicart .cartSlider .btn-slider-reduce-points,
.cart-collaterals .rewards-box-spend-minicart .cartSlider .btn-slider-increase-points {
    height: 18px;
    width: 20px;
}

.cart-collaterals .rewards-box-spend-minicart .cartSlider .btn-slider-increase-points {
    top: 18px !important;
    position: absolute !important;
}

.amrules-discount-label-no-link {
    cursor: default;
}

.checkoutsuccess-block-wrapper .order-item-row-wrapper,
.order-details .order-item-row-wrapper {
    display: block;
    overflow: hidden;
}

.checkoutsuccess-block-wrapper .order-item-row__image {
    margin-top: 10px;
}

.checkoutsuccess-block-wrapper dl {
    clear: both;
}

.checkoutsuccess-block-wrapper dt,
.order-details dt {
    float: left;
    padding: 0;
    margin: 0 20px 10px 0;
    clear: both;
}

.checkoutsuccess-block-wrapper dd {
    float: left;
    width: 50%;
    margin: 0 !important;
}

.sales-order-view .order-details dl dd {
    vertical-align: top;
    float: left;
    width: 80%;
    margin: 0 0 10px 0;
}

.sweettooth-point-spender .cartSlider .cartSlider_cell {
    margin-left: 20px;
    position: absolute;
    top: 17px;
}

.btn-checkout .fa-lock {
    margin-right: 10px;
}

.cart .promo-title {
    margin: 0px;
}

.cart .coupons-wrapper .promo {
    margin-bottom: 10px;
}

button.btn-proceed-checkout,
.add-to-cart button,
#signup-validate button,
a.blue-button {
    background: #34baf3;
    border: none;
    color: #FFF;
    font-size: 18px;
}

input[type="submit"],
button,
.button,
#recently-added-container .header .view-cart {
    border-width: 1px;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}

button.btn-proceed-checkout:hover,
.add-to-cart button:hover,
.add-to-cart button:focus,
#signup-validate button:hover,
a.blue-button:hover {
    background: #029bdc;
}

img.idme-cart-mini {
    height: 13px;
    vertical-align: baseline;
    margin-right: 5px;
}

.button-login-facebook.button:hover {
    background: #294278;
    border-color: #294278;
    color: #FFFFFF;
}

.cart .promo .input-box {
    margin-bottom: 10px;
}
