/* Header ================================================================================ */
#header a {
    cursor: pointer;
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

#header .right {
    position: relative;
    text-align: right;
    white-space: nowrap;
    z-index: 9999;
}

.fade-icon {
    transition: opacity 0.2s;
}

.minicart-is-open .fade-icon {
    opacity: 0;
}

#header span[class^="sprite"] {
    position: relative;
    top: 4px;
    margin-right: 6px;
}

#header span[class^="sprite"] {
    position: relative;
    top: 4px;
    margin-right: 6px;
}

#header .menu-top {
    line-height: 66px;
}

#header .left {
    float: left;
    position: relative;
    white-space: nowrap;
    z-index: 1001;
    display: inline-flex;
}

#header .account-button .fa-user-o {
    position: relative;
    font-size: 18px;
    margin-right: 5px;
    top: 2px;
}

#header .box
{
    background-color: #fff;
    padding-left: 17px;
    padding-right: 13px;
}
#header .box a
{
    padding-left: 0px;
}
#header .box-shadow
{
    border: 0 solid #CCC;
    float: left;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

#header .account-links a {
    display: inherit;
}

#header .header-follow {
    text-align: center;
}

#header .cart-button {
    display: -webkit-inline-box;
}



#atca-cart {
    display: inline-block;
    text-align: center;
}

.headercart .cart-badge {
    position: absolute;
    left: 25px;
    height: 20px;
    width: 20px;
    text-align: center;
    color: white;
    line-height: 1.7;
    border-radius: 50%;
}

.headercart.not-empty .cart-badge {
    background-color: #34baf3;
}

#header .icon-angle-down {
    margin-left: 5px;
    font-size: 14px;
    position: relative;
    top: 2px;
}

#header [data-togglecontent] {
    position: absolute;
    text-align: left;
    z-index: 9999;
}

#header .header-shipto .code {
    text-transform: uppercase;
}

#header .newsletter {
    border: none;
    padding: 0;
    text-align: left;
}

#header .newsletter form >span {
    margin: 0;
}

#header .newsletter label {
    display: none;
}

#header .newsletter input {
    width: 96%;
}

#header .klaviyo_field_group.newsletter__field  {
    width: 80%;
}

#header .newsletter .klaviyo_field_group > span {

    margin: 0px;
    width: 100%;
}
#header .newsletter .validation-advice {
    float: left;
    position: absolute;
}

#header .newsletter .newsletter__field--messages {
    float: left;
    padding: 0px;
}

#header .shipto {
    text-align: right;
}

#header .shipto p:last-child {
    margin-right: 200px;
}

#header .container .follow-us {
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}

#header .cart-icon-md {
    top: -5px;
    position: relative;
}


/* Search */
.search-wrapper {
    overflow: hidden;
}

.mobile-search-section {
    padding: 20px 0;
    background: white;
}

.quick-link-wrapper {
    color: white;
    padding: 8px 14px;
}

#header .quick-link-wrapper a {
    line-height: inherit;
    height: inherit;
    color: inherit;
    padding: 0;
}

.mobile-search-wrapper .quick-link-wrapper {
    color: #000;
}

.mobile-search-wrapper.active {
    display: block;
}


.search-wrapper a {
    padding: 0;
}

.header-search {
    background: #fff;
    font-size: 0;
    margin: 0 !important;
    white-space: nowrap;
    z-index: 1;
}

.header-search button {
    border: none;
    padding: 10px;
}

.header-search button:hover {
    background: #fff;
}

.header-search input {
    width: calc(100% - 37px);
    float: left;
    border: none;
    padding: 14px
}

.menu-search {
    z-index: 1000;
}
.menu-search .search-wrapper {
    border: 1px solid black;
    display: inline-block;
    top: 14px;
    left: 15px;
    text-align: left;
    background: #000;
}
.menu-search > a .sprite-search-black {
    cursor: pointer;
    position: relative;
    top: 8px;
}






/* Navigation */

.shown-sub {
    display: inherit !important;
}

#nav {
    padding: 15px 0;
    position: relative;
    margin: 0;
    text-align: center;
    background-color: #fff;
    z-index: 999;
}

#toggle-nav .sprite-mobile-menu {
    margin-top: 18px;
}

#toggle-nav.mobile-nav .sprite-mobile-menu {
    margin-top: 13px;
}

ul#nav > li {
    display: inline-block;
    float: none;
}

ul#nav li.level0 {
    padding-right: 14px;
    margin-right: -3px; /* display inline-block adds white-space in between li:s */
    position: static;
}

ul#nav li.level0 > a:hover {
    color: inherit;
    cursor: pointer;
}

ul#nav .level0 .parent > .menu-vlist {
    position: static;
}

ul#nav li.level0 > ul.level0 {
    background: #fff;
    padding-top: 35px;
    top: 52px;
    width: 100%;
}

#nav .icon-search {
    color: #000;
    cursor: pointer;
    font-size: 20px;
}

#nav .header-search button:hover .icon-search {
    color: #fff;
}

#nav .active .icon-angle-down:before {
    content: "\f107";
}





/* All Levels */
.nav-container {
    border: none !important;
    margin-top: 0 !important;
}

#nav li a {
    display: block;
    text-decoration: none;
}

#nav li a:hover {
    text-decoration: none;
}

#nav li a {
    float: left;
    padding: 10px 15px 7px 15px;
    color: #333;
}

#nav .level0 > a {
    text-transform: none;
}

#nav .level0 > a span {
    font-size: 14px;
    margin-left: 4px;
    position: relative;
    top: 1px;
}

#nav .widget h3,
ul#nav .level1.menu-nested-parent > a {
    padding-bottom: 17px;
    text-align: left;
    text-transform: none;
    font-weight: bold;
}

.parent > .menu-vlist {
    background: #fff;
}

#nav li.over ul li a,
#nav li.active ul li a {
    background: #fff;
}

#nav .bold {
    display: block;
    margin: 33px 0 0 0;
}

#nav .disabled-link {
    cursor: default;
}

#nav li li a:hover {
    color: #999;
}

#nav ul li {
    float: none;
    border-bottom: none;
}

#nav ul li.last {
    border-bottom: 0;
}

#nav h3,
#nav ul li a {
    float: none;
    padding: 3px 0;
}

#nav li a span.label {
    margin: 0;
    position: static;
    top: auto;
}

/* Widgets in nav */
#nav .menu-widget-container > a.menu-link {
    display: none;
}
#nav .menu-widget-container .widget-column {
    padding-left: 0;
}

#nav .menu-widget-container .widget > p:first-child {
    margin-top: 0;
}

#nav .menu-widget-container .widget a {
    padding: 0;
}

#nav .menu-widget-container .widget img {
    margin: 10px 0;
}

#nav .menu-widget-container .widget a:hover img {
    opacity: 0.8;
}

/* CMS block in menu (bottom) */
#nav .menu-cms-block {
    padding: 0 0 10px 0;
}

/* Newsletter */

.newsletter__field {
    display: inline-block;
    min-height: 40px;
    vertical-align: middle;
}

.newsletter--header .newsletter__field--messages .newsletter__message {
    padding: 17px 0 0;
}