/*--------------------------------------------
 | Mega Menu CSS
 | HYLETE has commented this out so we can disable the megamenu until we are ready
 */

/*
#nav {
    display: none;
}

.cdz-horizontal-menu .groupmenu li.level0 > a.menu-link {
    font: 500 18px/1.35 "EurostileExtended", sans-serif;
}

.cdz-menu {
    text-transform: lowercase;
}

@media screen and (max-width: 767px) {
    .cdz-menu {
        padding: 0 15px 15px 15px;
    }

    .cdz-menu .groupmenu-drop-content li.item {
        font-size: 15px;
        margin-left: 15px;
        padding: 15px 0;
    }

    .cdz-menu .groupmenu-drop > li.item {
        margin-left: 15px;
    }

    .cdz-menu .groupmenu .item.level-top > .menu-link {
        padding: 15px 11px;
    }

    .cdz-menu .item.level-top > .menu-link {
        background-color: #fff;
        color: #333;
    }

    .cdz-menu .item.level-top > .dropdown-toggle {
        background-color: #fff;
        color: #1a1a1a;
    }

    .cdz-menu .item.level-top > .dropdown-toggle:before {
        margin-top: 14px;
    }

    .cdz-menu .item.level-top > .groupmenu-drop {
        border: none;
        padding: 0 10px;
    }

    .cdz-menu p.groupdrop-title, .cdz-menu .cat-tree.no-dropdown a.groupdrop-title {
        border-top: 1px solid #e5e5e5;
        font-size: 15px;
        font-weight: normal;
        padding: 15px 0 0;
    }

    .groupdrop-title .dropdown-toggle {
        right: 10px;
        top: 10px;
    }
}

@media screen and (min-width: 768px) {
    .disabled-link {
        color: #f0f0f0 !important;
    }

    .cdz-horizontal-menu {
        padding: 15px 0;
    }

    .cdz-horizontal-menu .groupmenu {
        background-color: #fff;
        text-align: center;
    }

    .cdz-horizontal-menu .groupmenu li.item.level0 {
        float: none;
    }

    .cdz-horizontal-menu .groupmenu li.level0 > a.menu-link {
        background-color: #fff;
        text-transform: lowercase;
    }

    .cdz-horizontal-menu .groupmenu li.level0 > a.menu-link span span:after {
        content: "";
        height: 1px;
        display: block;
        border-bottom: 1px solid transparent;
    }

    .cdz-horizontal-menu .groupmenu li.level0 > a.menu-link:hover span span:after {
        content: "";
        background-color: inherit;
        border-bottom: 1px solid #333;
        width: 15px;
        height: 1px;
        display: block;
        margin: 0 auto;
    }

    .cdz-menu .groupmenu-drop, .cdz-menu .groupmenu-drop-content {
        background-color: #fff;
        margin: 0 auto;
        width: 1170px;
    }

    .cdz-menu ul.groupdrop-link, .cdz-menu ul.groupmenu-drop, .cdz-menu ul.groupmenu-nondrop {
        text-align: left;
    }

    .cdz-horizontal-menu .groupmenu .groupmenu-drop {
        font-family: 'Eurostile', sans-serif;
        font-weight: normal;
        font-size: 14px;
    }

    .cdz-menu p.groupdrop-title, .cdz-menu .cat-tree.no-dropdown a.groupdrop-title {
        border-bottom: 1px solid #e5e5e5;
        font-family: 'Eurostile', sans-serif;
        font-size: 18px;
        padding-bottom: 3px;
    }
}

*/