.retail-value {
    display: inline-block;
    position: relative;
    padding: 10px 0;
    font-size: 14px;
    color: #666;
    font-family: 'Open Sans', sans-serif;
}

.retail-value--category {
    padding: 0;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.retail-value__link {
    display: inline-block;
    padding: 5px;
    margin: -5px;
    color: #666;
    text-align: center;
    transition: .3s;
    cursor: pointer;
}

.retail-value__link > span {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 14px;
}

.retail-value__link:hover {
    color: #000;
    border-color: #000;
    text-decoration: none;
}

.retail-value:not(.retail-value--category) .tooltip.js-tooltip {
    margin-left: 18px;
}

.retail-value .price,
.retail-value--totals .price {
    text-decoration: line-through;
}

.price-with-retail-value {
    font-size: 16px;
}

.price-with-retail-value .price {
    font-weight: 100;
}

.price-with-retail-value .special-price .price {
    font-weight: normal;
}

.price-with-retail-value--category {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #000;
}

.has-special-price .regular-price .price {
    text-decoration: line-through;
    color: #666;
}

.hylete-price-label {
    text-transform: none;
    color: #666;
}

.regular-price > .hylete-price-label,
.special-price > .special-price-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666;
}

.special-price {
    padding: 10px 0;
}

.special-price .price {
    font-size: 16px;
}

.hylete-price-label-sm {
    font-size: 13px;
}

.hylete-price-label-lg {
    font-size: 16px;
}

.regular-price > .price {
    font-size: 13px;
}

.price-diff {
    display: inline;
    z-index: 10000;
}

.multipack-offer {
    color: #34baf3;
    padding-bottom: 15px;
}
