.rewards-product-view-points .divider {
    display: none;
}

.distri_section {
    text-align: center;
}

.points-info__link {
    display: inline-block;
    padding: 5px;
    margin: -5px;
    color: #666;
    text-align: center;
    transition: .3s;
    cursor: pointer;
}

.points-info__link > span {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 14px;
}

.product-view-points .distri_section {
    color: #666;
    font-size: 14px;
    letter-spacing: 0;
}

.product-view-points .distri_section strong {
    font-size: 16px;
}