<?xml version="1.0"?>
<config>
  <modules>
    <Hylete_CustomerGroupLog>
      <version>0.1.0</version>
    </Hylete_CustomerGroupLog>
  </modules>
  <global>
    <helpers>
      <customergrouplog>
        <class>Hylete_CustomerGroupLog_Helper</class>
      </customergrouplog>
    </helpers>
	<models>
	  <customergrouplog>
		<class>Hylete_CustomerGroupLog_Model</class>
		<resourceModel>customergrouplog_mysql4</resourceModel>
	  </customergrouplog>
	  <customergrouplog_mysql4>
		<class>Hylete_CustomerGroupLog_Model_Mysql4</class>
		<entities>
			  <customergrouplog>
				<table>customer_group_log</table>
			  </customergrouplog>
        </entities>
	  </customergrouplog_mysql4>
	</models>
	  <events>
		  <customer_save_before>
			  <observers>
				  <hylete_customergrouplog_save_before_observer>
					  <type>singleton</type>
					  <class>customergrouplog/Observer</class>
					  <method>customer_save_before</method>
				  </hylete_customergrouplog_save_before_observer>
			  </observers>
		  </customer_save_before>
	  </events>
	<resources>
	  <customergrouplog_setup>
		<setup>
		  <module>Hylete_CustomerGroupLog</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customergrouplog_setup>
	  <customergrouplog_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customergrouplog_write>
	  <customergrouplog_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customergrouplog_read>
	</resources>
  </global>
</config> 