<?xml version="1.0"?>
<config>
    <modules>
        <Bestworlds_AbandonedCart>
            <version>1.0.0</version>
        </Bestworlds_AbandonedCart>
    </modules>
    <global>
        <blocks>
            <abandonedcart>
                <class>Bestworlds_AbandonedCart_Block</class>
            </abandonedcart>
        </blocks>
        <models>
            <abandonedcart>
                <class>Bestworlds_AbandonedCart_Model</class>
            </abandonedcart>
        </models>
        <helpers>
            <abandonedcart>
                <class>Bestworlds_AbandonedCart_Helper</class>
            </abandonedcart>
        </helpers>
        <resources>
            <abandonedcart_setup>
                <setup>
                    <module>Bestworlds_AbandonedCart</module>
                </setup>
            </abandonedcart_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <abandonedcart before="Mage_Adminhtml">Bestworlds_AbandonedCart_Adminhtml</abandonedcart>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <report>
                <children>
                    <shopcart>
                        <children>
                            <abandonedcart_reports translate="title" module="abandonedcart">
                                <title>BestWorlds Abandoned Cart Reports</title>
                                <sort_order>1200</sort_order>
                                <action>adminhtml/abandonedcart_reports</action>
                            </abandonedcart_reports>
                        </children>
                    </shopcart>
                </children>
            </report>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <report>
                            <children>
                                <shopcart>
                                    <children>
                                        <abandonedcart_reports translate="title">
                                            <title>Reports</title>
                                        </abandonedcart_reports>
                                    </children>
                                </shopcart>
                            </children>
                        </report>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <Bestworlds_AbandonedCart module="Bestworlds_AbandonedCart">
                    <file>bestworlds/abandonedcart.xml</file>
                </Bestworlds_AbandonedCart>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <abandonedcart>
                <use>standard</use>
                <args>
                    <module>Bestworlds_AbandonedCart</module>
                    <frontName>abandonedcart</frontName>
                </args>
            </abandonedcart>
        </routers>
        <layout>
            <updates>
                <Bestworlds_AbandonedCart module="Bestworlds_AbandonedCart">
                    <file>bestworlds/abandonedcart.xml</file>
                </Bestworlds_AbandonedCart>
            </updates>
        </layout>
        <events>
            <controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <bw_abandonedcart_handle_save_billing>
                        <type>singleton</type>
                        <class>abandonedcart/observer</class>
                        <method>handleSaveBilling</method>
                    </bw_abandonedcart_handle_save_billing>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
            <core_block_abstract_to_html_after>
                <observers>
                    <bw_abandonedcart_handle_block_output>
                        <type>singleton</type>
                        <class>abandonedcart/observer</class>
                        <method>handleBlockOutput</method>
                    </bw_abandonedcart_handle_block_output>
                </observers>
            </core_block_abstract_to_html_after>
            <checkout_cart_save_after>
                <observers>
                    <bw_abandonedcart_sales_quote_add_item>
                        <class>abandonedcart/observer</class>
                        <method>checkoutCartSaveAfter</method>
                    </bw_abandonedcart_sales_quote_add_item>
                </observers>
            </checkout_cart_save_after>
            <controller_action_predispatch>
                <observers>
                    <bw_abandonedcart_controller_action_before>
                        <class>abandonedcart/observer</class>
                        <method>emailTracking</method>
                    </bw_abandonedcart_controller_action_before>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <crontab>
        <jobs>
            <abandonedcart_setLoggedInCaptureType>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>abandonedcart/cron::setLoggedInCaptureType</model></run>
            </abandonedcart_setLoggedInCaptureType>
        </jobs>
    </crontab>
</config>
