<?xml version="1.0"?>
<config>
  <modules>
    <Hylete_ServiceLeague>
      <version>0.1.0</version>
    </Hylete_ServiceLeague>
  </modules>
	<frontend>
		<routers>
			<serviceleague>
				<use>standard</use>
				<args>
					<module>Hylete_ServiceLeague</module>
					<frontName>govx-auth</frontName>
				</args>
			</serviceleague>
		</routers>
		<layout>
			<updates>
				<serviceleague>
					<file>serviceleague.xml</file>
				</serviceleague>
			</updates>
		</layout>
	</frontend>
  <global>
    <helpers>
      <serviceleague>
        <class>Hylete_ServiceLeague_Helper</class>
      </serviceleague>
    </helpers>
	<models>
	  <serviceleague>
		<class>Hylete_ServiceLeague_Model</class>
		<resourceModel>serviceleague_mysql4</resourceModel>
	  </serviceleague>
	  <serviceleague_mysql4>
		<class>Hylete_ServiceLeague_Model_Mysql4</class>
		<entities>
			  <verifier>
				<table>service_league_verifier</table>
			  </verifier>
        </entities>
	  </serviceleague_mysql4>
	</models>
	  <blocks>
		  <serviceleague>
			  <class>Hylete_ServiceLeague_Block</class>
		  </serviceleague>
	  </blocks>
	<resources>
	  <serviceleague_setup>
		<setup>
		  <module>Hylete_ServiceLeague</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </serviceleague_setup>
	  <serviceleague_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </serviceleague_write>
	  <serviceleague_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </serviceleague_read>
	</resources>
  </global>
</config> 