<?xml version="1.0" ?><config>
    <modules>
        <Icommerce_SelectedProducts>
            <version>0.5.9</version>
        </Icommerce_SelectedProducts>
    </modules>
    <global>
        <models>
            <selectedproducts>
                <class>Icommerce_SelectedProducts_Model</class>
            </selectedproducts>
        </models>
        <blocks>
            <selectedproducts>
                <class>Icommerce_SelectedProducts_Block</class>
            </selectedproducts>
        </blocks>
        <helpers>
            <selectedproducts>
                <class>Icommerce_SelectedProducts_Helper</class>
            </selectedproducts>
        </helpers>
        <cache>
            <types>
                <selectedproducts module="selectedproducts" translate="label,description">
                    <label>Selected Products</label>
                    <description>Collection data generated for rendering SelectedProducts blocks.</description>
                    <tags>SELECTED_PRODUCTS</tags>
                </selectedproducts>
            </types>
        </cache>
        <resources>
            <selectedproducts_setup>
                <setup>
                    <module>Icommerce_SelectedProducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </selectedproducts_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <selectedproducts>
                    <file>icommerce_selectedproducts.xml</file>
                </selectedproducts>
            </updates>
        </layout>
        <translate>
            <modules>
                <Icommerce_SelectedProducts>
                    <files>
                        <selectedproducts>Icommerce_SelectedProducts.csv</selectedproducts>
                    </files>
                </Icommerce_SelectedProducts>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <selectedproducts>
                                            <title>Icommerce SelectedProducts</title>
                                        </selectedproducts>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Icommerce_SelectedProducts>
                    <files>
                        <selectedproducts>Icommerce_SelectedProducts.csv</selectedproducts>
                    </files>
                </Icommerce_SelectedProducts>
            </modules>
        </translate>
    </adminhtml>
    <!-- module defaults -->
    <default>
        <!-- config values -->
        <selectedproducts>
            <settings>
                <has_global_products>0</has_global_products>
                <seconds_to_expire>7200</seconds_to_expire>
                <fallback_category_label/>
                <order_filter_length>0</order_filter_length>
                <views_count_days>0</views_count_days>
                <instock_filter>0</instock_filter>
                <include_children_categories>0</include_children_categories>
            </settings>
        </selectedproducts>
    </default>
</config>
