<?xml version="1.0" ?>
<config>
    <modules>
        <Vaimo_Hylete>
            <version>0.3.2</version>
        </Vaimo_Hylete>
    </modules>
    <global>
        <helpers>
            <hylete>
                <class>Vaimo_Hylete_Helper</class>
            </hylete>
        </helpers>
        <blocks>
            <hylete>
                <class>Vaimo_Hylete_Block</class>
            </hylete>
            <googleaddons> 
                <rewrite> 
                    <trackingScripts>Vaimo_Hylete_Block_TrackingScripts</trackingScripts> 
                </rewrite> 
            </googleaddons>
        </blocks>
        <models>
            <hylete>
                <class>Vaimo_Hylete_Model</class>
            </hylete>
            <amrules>
                <rewrite>                
                    <promotions>Vaimo_Hylete_Model_Amrules_Promotions</promotions>
                </rewrite>
            </amrules>
        </models>
        <resources>
            <hylete_setup>
                <setup>
                    <module>Vaimo_Hylete</module>
                    <class>Vaimo_Hylete_Model_Entity_Setup</class>
                </setup>
            </hylete_setup>
        </resources>
        <events>
            <sales_order_send_new_order_email_after_send>
                <observers>
                    <vaimo_hylete>
                        <class>hylete/observer</class>
                        <method>salesOrderSendNewOrderEmailAfterSend</method>
                    </vaimo_hylete>
                </observers>
            </sales_order_send_new_order_email_after_send>
        </events>
    </global>
    <frontend>
        <product>
            <collection>
                <attributes>
                    <retail_value/>
                </attributes>
            </collection>
        </product>
        <events>
            <sales_quote_config_get_product_attributes>
                <observers>
                    <vaimo_hylete>
                        <class>hylete/observer</class>
                        <method>salesQuoteConfigGetProductAttributes</method>
                    </vaimo_hylete>
                </observers>
            </sales_quote_config_get_product_attributes>
            <customer_register_success>
                <observers>
                    <vaimo_hylete>
                        <class>hylete/observer</class>
                        <method>customerRegisterSuccess</method>
                    </vaimo_hylete>
                </observers>
            </customer_register_success>
            <websiterestriction_frontend>
                <observers>
                    <vaimo_hylete>
                        <class>hylete/observer</class>
                        <method>websiterestrictionFrontend</method>
                    </vaimo_hylete>
                </observers>
            </websiterestriction_frontend>
            <!--core_session_abstract_add_message>
                <observers>
                    <vaimo_hylete>
                        <class>hylete/observer</class>
                        <method>customCouponMessages</method>
                    </vaimo_hylete>
                </observers>
            </core_session_abstract_add_message-->

            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <vaimo_hylete>
                        <type>singleton</type>
                        <class>hylete/observer</class>
                        <method>validateAddToCartPost</method>
                    </vaimo_hylete>
                </observers>
            </controller_action_predispatch_checkout_cart_add>

            <icommerce_addtocartajax_before>
                <observers>
                    <vaimo_hylete>
                        <type>singleton</type>
                        <class>hylete/observer</class>
                        <method>validateAddToCartAjaxPost</method>
                    </vaimo_hylete>
                </observers>
            </icommerce_addtocartajax_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Vaimo_Hylete before="Icommerce_SlideshowManager">Vaimo_Hylete_Adminhtml</Vaimo_Hylete>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <vaimo_hylete>
                    <file>hylete.xml</file>
                </vaimo_hylete>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <vaimo_hylete>
                        <class>hylete/observer</class>
                        <method>appendColorColumn</method>
                    </vaimo_hylete>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <catalog_product_collection_load_before>
                <observers>
                    <vaimo_hylete>
                        <class>hylete/observer</class>
                        <method>beforeCollectionLoad</method>
                    </vaimo_hylete>
                </observers>
            </catalog_product_collection_load_before>
        </events>
    </adminhtml>
    <default>
        <vaimo_hylete>
            <header_cart_dropdown>
                <enable>1</enable>
            </header_cart_dropdown>
            <signup_form_extended>
                <enable>1</enable>
            </signup_form_extended>
            <customer_groups>
                <vip_groups>6,7,8,9,10,17,26,27</vip_groups>
            </customer_groups>
        </vaimo_hylete>
    </default>
</config>
