<?xml version="1.0"?>
<config>
    <modules>
        <Hylete_Rewards>
            <version>0.0.1</version>
        </Hylete_Rewards>
    </modules>
    <global>
        <blocks>
            <hylete_rewards>
                <class>Hylete_Rewards_Block</class>
            </hylete_rewards>
            <rewards>
                <rewrite>
                    <customer_transfers_spendings_grid>Hylete_Rewards_Block_Customer_Transfers_Spendings_Grid</customer_transfers_spendings_grid>
                    <customer_transfers_earnings_grid>Hylete_Rewards_Block_Customer_Transfers_Earnings_Grid</customer_transfers_earnings_grid>
                </rewrite>
            </rewards>
        </blocks>
        <helpers>
            <hylete_rewards>
                <class>Hylete_Rewards_Helper</class>
            </hylete_rewards>
        </helpers>
        <models>
            <hylete_rewards>
                <class>Hylete_Rewards_Model</class>
            </hylete_rewards>
        </models>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <tbt_rewards_model_customer_observer>
                        <type>disabled</type>
                    </tbt_rewards_model_customer_observer>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <tbt_rewards_model_customer_observer>
                        <type>disabled</type>
                    </tbt_rewards_model_customer_observer>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>
</config>
