<?xml version="1.0"?>
<config>
    <modules>
        <Globale_Browsing>
            <version>1.0.0</version>
        </Globale_Browsing>
    </modules>

    <global>
        <models>
            <globale_browsing>
                <class>Globale_Browsing_Model</class>
            </globale_browsing>

            <!-- Rewrite Store class for getConfig GE changes -->
            <core>
                <rewrite>
                    <store>Globale_Browsing_Model_Rewrite_Store</store>
                </rewrite>
            </core>

            <!-- Rewrite Directory Currency conversion resource -->
            <directory_resource>
                <rewrite>
                    <currency>Globale_Browsing_Model_Rewrite_Directory_Resource_Currency</currency>
                </rewrite>
            </directory_resource>

            <!-- Rewrire Directory Currency  -->
            <directory>
                <rewrite>
                    <currency>Globale_Browsing_Model_Rewrite_Directory_Currency</currency>
                </rewrite>
            </directory>

            <!-- @TODO ADD DESCRIPTION  -->
            <catalogrule_resource>
                <rewrite>
                    <rule>Globale_Browsing_Model_Rewrite_CatalogRule_Resource_Rule</rule>
                </rewrite>
            </catalogrule_resource>

            <catalog>
                <rewrite>
                    <layer_filter_price>Globale_Browsing_Model_Rewrite_Catalog_Layer_Filter_Price</layer_filter_price>

                    <!-- Rewrire Option classes (option/value) for Beatify option percentage getPrice -->
                    <product_option>Globale_Browsing_Model_Rewrite_Catalog_Product_Option</product_option>
                    <product_option_value>Globale_Browsing_Model_Rewrite_Catalog_Product_Option_Value</product_option_value>

                    <!-- Rewrite all product_option_type_ classes for Beatify option percentage price -->
                    <product_option_type_default>Globale_Browsing_Model_Rewrite_Catalog_Product_Option_Type_Default</product_option_type_default>
                    <product_option_type_text>Globale_Browsing_Model_Rewrite_Catalog_Product_Option_Type_Text</product_option_type_text>
                    <product_option_type_select>Globale_Browsing_Model_Rewrite_Catalog_Product_Option_Type_Select</product_option_type_select>
                    <product_option_type_date>Globale_Browsing_Model_Rewrite_Catalog_Product_Option_Type_Date</product_option_type_date>
                    <product_option_type_file>Globale_Browsing_Model_Rewrite_Catalog_Product_Option_Type_File</product_option_type_file>
                </rewrite>
            </catalog>

            <salesrule>
                <rewrite>
                    <validator>Globale_Browsing_Model_Rewrite_SalesRule_Validator</validator>
                </rewrite>
            </salesrule>

            <sales>
                <rewrite>
                    <order_shipment_track>Globale_Browsing_Model_Rewrite_Sales_Order_Shipment_Track</order_shipment_track>
                </rewrite>
            </sales>

            <shipping>
                <rewrite>
                    <info>Globale_Browsing_Model_Rewrite_Shipping_Info</info>
                </rewrite>
            </shipping>

        </models>
        <blocks>
            <globale_browsing>
                <class>Globale_Browsing_Block</class>
            </globale_browsing>
            <tax>
                <!-- Hiding tax block from cart page for Global-e operated countries -->
                <rewrite>
                    <checkout_tax>Globale_Browsing_Block_Rewrite_Tax_Checkout_Tax</checkout_tax>
                    <checkout_shipping>Globale_Browsing_Block_Rewrite_Tax_Checkout_Shipping</checkout_shipping>
                </rewrite>
            </tax>
            <checkout>
                <rewrite>
                    <!-- change the checkout url for international checkout for cart page -->
                    <onepage_link>Globale_Browsing_Block_Rewrite_Checkout_Onepage_Link</onepage_link>
                    <!-- change the checkout url for international checkout for minicart block -->
                    <cart_sidebar>Globale_Browsing_Block_Rewrite_Checkout_Cart_Sidebar</cart_sidebar>
                    <!-- Changing link to checkout from top links to GE checkout on GE browsing operated -->
                    <links>Globale_Browsing_Block_Rewrite_Checkout_Links</links>
                </rewrite>
            </checkout>
            <catalog>
                <rewrite>
                    <!-- Convert configurable percentage price prepare  -->
                    <product_view_type_configurable>Globale_Browsing_Block_Rewrite_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>


        </blocks>
        <helpers>
            <globale_browsing>
                <class>Globale_Browsing_Helper</class>
            </globale_browsing>
            <!-- @TODO ADD DESCRIPTION  -->
            <tax>
                <rewrite>
                    <data>Globale_Browsing_Helper_Rewrite_Tax_Data</data>
                </rewrite>
            </tax>
        </helpers>

        <sales>
            <quote>
                <totals>
                    <nominal>
                        <sort_order>10</sort_order>
                    </nominal>
                    <subtotal>
                        <sort_order>20</sort_order>
                    </subtotal>
                    <globale_preparing>
                        <class>globale_browsing/quote_address_total_preparing</class>
                        <sort_order>25</sort_order>
                    </globale_preparing>
                    <freeshipping>
                        <sort_order>30</sort_order>
                    </freeshipping>
                    <giftwrapping>
                        <sort_order>40</sort_order>
                    </giftwrapping>
                    <tax_subtotal>
                        <sort_order>50</sort_order>
                    </tax_subtotal>
                    <msrp>
                        <sort_order>60</sort_order>
                    </msrp>
                    <weee>
                        <sort_order>70</sort_order>
                    </weee>
                    <shipping>
                        <sort_order>80</sort_order>
                    </shipping>
                    <tax_shipping>
                        <sort_order>90</sort_order>
                    </tax_shipping>
                    <tax>
                        <sort_order>100</sort_order>
                    </tax>
                    <tax_giftwrapping>
                        <sort_order>110</sort_order>
                    </tax_giftwrapping>
                    <discount>
                        <sort_order>120</sort_order>
                    </discount>
                    <grand_total>
                        <sort_order>130</sort_order>
                    </grand_total>
                    <reward>
                        <sort_order>140</sort_order>
                    </reward>
                    <giftcardaccount>
                        <sort_order>150</sort_order>
                    </giftcardaccount>
                    <customerbalance>
                        <sort_order>160</sort_order>
                    </customerbalance>
                    <globale_bases>
                        <class>globale_browsing/quote_address_total_base</class>
                        <sort_order>200</sort_order>
                    </globale_bases>
                </totals>
            </quote>
        </sales>

        <events>
            <!-- Change options price when adding to cart   -->
            <sales_quote_item_set_product>
                <observers>
                    <globale_update_product_prices>
                        <type>singleton</type>
                        <class>Globale_Browsing_Model_Observers_Product</class>
                        <method>updateProductPrices</method>
                    </globale_update_product_prices>
                </observers>
            </sales_quote_item_set_product>


            <!-- Product Price Update -->
            <catalog_product_load_after>
                <observers>
                    <globale_update_product_prices_on_load>
                        <type>singleton</type>
                        <class>Globale_Browsing_Model_Observers_Product</class>
                        <method>updateProductPrices</method>
                    </globale_update_product_prices_on_load>
                </observers>
            </catalog_product_load_after>

            <!-- Product Collection Price Update -->
            <catalog_product_collection_load_after>
                <observers>
                    <globale_update_product_collection_prices>
                        <type>singleton</type>
                        <class>Globale_Browsing_Model_Observers_Product</class>
                        <method>updateCollectionProductsPrices</method>
                    </globale_update_product_collection_prices>
                </observers>
            </catalog_product_collection_load_after>
        </events>

    </global>
    <frontend>
        <routers>
            <browsing>
                <use>standard</use>
                <args>
                    <module>Globale_Browsing</module>
                    <frontName>international</frontName>
                </args>
            </browsing>
        </routers>

        <events>
            <!-- Initialization SDK for Browsing needs -->
            <customer_session_init>
                <observers>
                    <globale_sdk_browsing_init>
                        <type>singleton</type>
                        <class>Globale_Browsing_Model_Observers_Initialize</class>
                        <method>initBrowsingSDK</method>
                    </globale_sdk_browsing_init>
                </observers>
            </customer_session_init>

            <!-- Final Product View Price Update -->
            <catalog_controller_product_view>
                <observers>
                    <globale_update_product_prices>
                        <type>singleton</type>
                        <class>Globale_Browsing_Model_Observers_Product</class>
                        <method>updateProductPrices</method>
                    </globale_update_product_prices>
                </observers>
            </catalog_controller_product_view>




            <!-- global-e insert Product to registry for catalog Rule price changes in cart  -->
            <sales_quote_item_set_product>
                <observers>
                    <catalogRule_getRulePrices>
                        <type>singleton</type>
                        <class>Globale_Browsing_Model_Observers_Product</class>
                        <method>insertProductToRegistry</method>
                    </catalogRule_getRulePrices>
                </observers>
            </sales_quote_item_set_product>

            <!-- global-e event that update catalog Rule price in cart -->
            <globale_catalogRule_getRulePrices>
                <observers>
                    <catalogRule_getRulePrices>
                        <type>singleton</type>
                        <class>Globale_Browsing_Model_Observers_Product</class>
                        <method>updateCatalogRulePrices</method>
                    </catalogRule_getRulePrices>
                </observers>
            </globale_catalogRule_getRulePrices>

            <!-- Quote Price Update -->
            <sales_quote_collect_totals_before>
                <observers>
                    <globale_update_quote_prices>
                        <type>singleton</type>
                        <class>Globale_Browsing_Model_Observers_Item</class>
                        <method>updateQuoteTotals</method>
                    </globale_update_quote_prices>
                </observers>
            </sales_quote_collect_totals_before>

            <!-- Update Product View Config Javascript => set prices to zero  -->
            <catalog_product_view_config>
                <observers>
                   <globale_update_product_view_config>
                       <type>singleton</type>
                       <class>Globale_Browsing_Model_Observers_Product</class>
                       <method>updateProductViewConfig</method>
                   </globale_update_product_view_config>
                </observers>
            </catalog_product_view_config>

            <!-- Beatify configurable price amount during calculating  -->
            <catalog_product_type_configurable_price>
                <observers>
                    <globale_beatify_configurable_price>
                        <class>Globale_Browsing_Model_Observers_Product</class>
                        <method>beatifyProductConfigurablePrice</method>
                    </globale_beatify_configurable_price>
                </observers>
            </catalog_product_type_configurable_price>

            <!-- redirect from Local to Globale Checkout -->
            <controller_action_predispatch>
                <observers>
                    <globale_checkout_redirect>
                        <class>Globale_Browsing_Model_Observers_Checkout</class>
                        <method>redirectToGlobaleCheckout</method>
                    </globale_checkout_redirect>
                </observers>
            </controller_action_predispatch>

        </events>
        <layout>
            <updates>
                <globale_browsing>
                    <file>globale/browsing.xml</file>
                </globale_browsing>
            </updates>
        </layout>
    </frontend>
    <default>
        <globale_settings>
            <browsing_settings>
                <keep_original_uri_on_redirect>1</keep_original_uri_on_redirect>
            </browsing_settings>
        </globale_settings>
    </default>
</config>