
/* CSS for Icommerce_QuickCheckout
-------------------------------------------- */

/* Init QuickCheckout */

.checkout-onepage-index h2 {
	font-size: 18px;
	padding: 0 0 10px;
}

.checkout-onepage-index .forgot-password-link {
	margin: 10px 0 0 0;
}

.payment-logos {
	margin-bottom: 20px;
}

.payment-logos img {
	vertical-align: bottom;
}

.qc-clear, .clear {
    height: 0;
    visibility: hidden;
    display: block;
    clear:both;
}

.checkout-onepage-index .price, .checkout-onepage-index strong, .checkout-onepage-index p {
	color: #000;
}
	
.one-page-checkout .group-select { 
	margin-right:0; 
}

.one-page-checkout .box {
	padding: 0;
	border: 0 none;
}

.one-page-checkout .box-no-padding {
    padding: 0;
    border: 0 none;
}
	
.one-page-checkout .giftmessages .gift-box {
	background-color: #F6F1EB;
	border-bottom: 1px solid #E9E4DE;
	border-top: 1px solid #E9E4DE;
	padding: 22px 16px 22px 22px;
}

.one-page-checkout .head {
    margin-bottom: 0;
    padding: 4px 8px 6px 8px;
    background: url(../images/opc_off_head_bg.gif) repeat-x 0 100% #eee;
    border-width: 0 1px 0 1px;
    border-color: #D9DDE3;
    border-style: solid;
    border-top: 1px solid #fff;
}

.one-page-checkout label, 
.giftmessages .gift-header, 
.giftmessages .gift-box label, 
.giftmessages .input-checkbox label { 
	color: #000; 
}

.one-page-checkout #checkout-step-billing .group-select label,
.one-page-checkout #checkout-step-shipping .group-select label {
	display: block;
	float: left;
	width: 130px;
}

.one-page-checkout #checkout-step-billing #register-customer-newsletter label {
	width: auto;
	padding: 0 10px 0 0;
}

.one-page-checkout .group-select label, 
.one-page-checkout .form-list label, 
.one-page-checkout label, 
.one-page-checkout label,
.one-page-checkout dt, 
.one-page-checkout strong, 
.one-page-checkout label, 
.one-page-checkout .data-table th, 
.one-page-checkout td.attributes-col h4.title, 
.one-page-checkout .validation-advice {
	font-weight: normal;
	font-size: 12px;
}

.one-page-checkout dt, .one-page-checkout dt label, .one-page-checkout #checkout-review-table strong {
	font-weight: bold;
}

.one-page-checkout .head a { display:none; }  /* Hide Edit button in step header */

.one-page-checkout h3 {
	color: #333;
	font-size: 12px;
	padding: 10px 15px;
	border: 1px solid #d1d1d1;
	border-width: 1px 0;
	background: url(../images/qco_heading_bg.gif) repeat-x #f5f5f5;
}

.one-page-checkout .qc-login h3 {
	border-top: 0;
}

.one-page-checkout .qc-login .login-area {
	padding: 15px 25px;
}

.one-page-checkout h4 { border-bottom:1px solid #E4E4E4; padding-bottom:2px; text-transform:uppercase; }
.one-page-checkout h4.title { border-bottom:0; text-transform:none; }
.one-page-checkout .step-count { background:#fff; font-size:.9em; padding:0 4px; line-height:1em; }
.one-page-checkout .content { padding:10px 20px; }
.one-page-checkout label.label { font-size:1.05em; color:#2f2f2f; }
.one-page-checkout .allow .head { background:#d0dce1; border-color:#a3aeb3; border-width:1px 1px 0 1px; cursor:pointer; }
.one-page-checkout .active .head { margin-bottom:0; border:1px solid #BBAFA0; background:#F9F3E3; padding-bottom:5px; cursor:default; }
.one-page-checkout .alloq .head a { display:block; } /* Display Edit button in active selection */
.one-page-checkout .group-select {
	margin-top: 0;
	border: 0;
	background: none;
	padding: 15px 25px;
}
.one-page-checkout .allow h3 { color:#a4b3b9; }
.one-page-checkout .active h3 { color:#F18200; }
.one-page-checkout .allow .step-count { background:#dbe6eb; }
.one-page-checkout .active .step-count { color:#fff; border:1px solid #f19900; background:#F18200; }
.one-page-checkout .active .box { display:block; border-color:#BBAFA0;  background:url(../images/multi_address_box_bg.gif) repeat-x #FBFAF6; }
.one-page-checkout dd .form-list ul { margin:5px 17px 15px 0px; }
.one-page-checkout .checkmo-mailing-address { padding-left:20px; }

#opc-login .button-set { border-top:0; }
#qc-want-to-login{ color:#222; }

#opc-review .box { border:0; padding:0; }
#opc-review .content { border: 0 ; }
#opc-review .data-table { border-top:0; }

#opc-review #checkout-review-table h4.title {
	border: 0 none;
}

#checkout-step-review .data-table .product-name {
	background: none;
	border: 0 none;
	padding: 0;
}

.one-page-checkout #checkout-review-table tfoot td {
	padding: 5px;
}

.opc-please-wait { padding-right:7px; }
.one-page-checkout a.back { background:url(../images/icon_opc_back.gif) no-repeat; padding-left:16px; line-height:13px; }
.one-page-checkout #co-payment-form div {
	padding: 15px 25px;
}

.checkout-onepage-payment-additional-reward
{
	padding: 15px 0 0 25px;
}

.one-page-checkout #co-payment-form div div {
	padding: 0;
}

.one-page-checkout .payment-methods dd {
	padding: 0 0 0 20px;
}
.one-page-checkout .button-set { margin-top:0; padding-top:2em; }

li#opc-billing .button-set button,
li#opc-billing .button-set, 
li#opc-shipping .button-set,
#review-loader, 
.input-box-hide,
.hide {
	display:none;
}

#checkout-review-loader {
	border: 0 none;
	margin: 0;
	padding: 10px 20px;
}

.one-page-checkout .data-table {
	/* padding-left: 15px; */
}

.one-page-checkout .data-table, .one-page-checkout .data-table th {
	border: 0 none;
}

.one-page-checkout .data-table th {
	text-align: left;
}

.one-page-checkout .data-table th, .one-page-checkout .data-table td {
	padding: 5px 5px 5px 25px;
	border-left: 0px;
}

.one-page-checkout .data-table td.last {
	border-right: 0 none;
}

ol#checkoutSteps {
	border: 1px solid #d1d1d1;
}

li#opc-login div#qc-loginform {
	margin: 0;
	padding: 10px 0 10px 0;
}

li#opc-login a#click-here-to-show-login,
li#opc-login a#click-here-to-hide-login {
	float: left;
	display: block;
	font-size: 12px;
	margin: 0;
	padding: 0;
	line-height: 14px;
}

li#opc-login div#qc-loginform div.input-box {
	float: left;
	margin-right: 15px;
	width: 200px;
}

li#opc-login div#qc-loginform div.input-box input { 
	width: 190px; 
}

li#opc-login div#qc-loginform button.form-button {
	float:left;
	margin-top: 20px;
}

li#opc-billing .group-select {
	padding-bottom: 0;
	margin-bottom: 0;
}

li#opc-billing .group-select ul li,
li#opc-shipping .group-select ul li {
	padding: 0 0 6px;
}

li#opc-billing .group-select ul li .field,
li#opc-shipping .group-select ul li .field {
	clear: both;
}

li#opc-billing .group-select ul li .customer-name .name-firstname .input-box,
li#opc-shipping .group-select ul li .customer-name .name-firstname .input-box {
	padding: 0 0 12px;
}

li#opc-billing .group-select ul li .customer-name .input-box,
li#opc-shipping .group-select ul li .customer-name .input-box {
	float: left;
}

li#opc-billing .qc-shipping-choice {
	padding: 15px 25px;
}

li#opc-review .button-set {
	float: right;
	padding-top: 1em;
}

.checkout-onepage-index .col-2-right-layout .col-main {
	float:left;
	width:685px; 
}

.checkout-onepage-index .side-col {
	width: 370px;
}

.checkout-onepage-index .side-col {
	padding-top: 30px;
	width: 195px;
}

.checkout-onepage-index h4.title {
	color:#2F2F2F;
	font-size:1em;
	text-transform: none;
	margin:0;
	overflow:hidden;
	padding:0;
	width:100%;
}

.checkout-onepage-index .group-select li .input-text, 
.group-select li select, 
.group-select li textarea,
.checkout-onepage-index .group-select li .input-box .input-text, 
.group-select li .input-box textarea,
.checkout-onepage-index .qc-login .input-box .input-text,
#opc-billing .ssn input[type=text] {
	width: 280px;
	padding: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #dedede;
}

#opc-billing .ssn input[type=text] {
	width: 160px;
}

.checkout-onepage-index .group-select li .input-box {
	width: 240px;
}

.checkout-onepage-index .group-select li .input-box.name-firstname,
.checkout-onepage-index .group-select li .input-box.name-lastname,
.checkout-onepage-index .group-select li .input-box.name-prefix,
.checkout-onepage-index .group-select li .input-box.name-suffix,
.checkout-onepage-index .group-select li .input-box.name-middlename,
.checkout-onepage-index .group-select li .input-box.taxvat {
	width: 445px;
}

.checkout-onepage-index .group-select li .input-box.name-firstname {
	margin: 0 0 15px;
}

.checkout-onepage-index .qc-login .input-box.name-firstname .input-text, .checkout-onepage-index .qc-login .input-box.name-lastname .input-text {
	float: right;
}

.checkout-onepage-index .group-select li .input-box select { 
	width:225px; 
}

#checkout-shipping-method-loader span, 
#checkout-payment-method-loader span {
	background: transparent url(../images/opc-ajax-loader.gif) center left no-repeat;
	padding-left: 25px;
}

.checkout-onepage-index #opc-shipping_method .default-box, #checkout-shipping-method-loader {
	padding: 15px 25px;
}

.checkout-onepage-index .add-gift-message {
	padding: 15px 25px;
}

.checkout-onepage-index .add-gift-message h4 {
	border: 0;
}

.checkout-agreements {
	margin: 15px 0 0 20px;
}

.checkout-agreements .agree {
	padding: 15px 0 0;
}

.checkout-onepage-index .required {
	color: #f15c22;
}

.checkout-onepage-index input:focus,
.checkout-onepage-index textarea:focus,
.checkout-onepage-index select:focus {
	background-color: #faf7ee;
}
.block.quickcheckout {
	border: 0 none;
	background: url(../images/qco_block_bg.gif) repeat-x #f5f5f5;
}

.block.quickcheckout h3 {
	color: #fff;
	font-size: 12px;
	padding: 10px 25px;
	border: 1px solid #d1d1d1;
	border-width: 0 0 1px 0;
	background: url(../images/bkg_quickcheckoutblocks.gif) repeat-x #5b9dc1;
}

.block.quickcheckout p {
	padding: 10px 15px;
}

#place-order-button {
    width: 160px;
    font-size: 16px;
    height: 40px;
    padding: 0;;
    color: #fff;
    border: 0 none;
    background: url("../images/qco_btn_place_order.gif") no-repeat scroll 0 0 transparent;
}

/* IE7 fixes */

*+html .one-page-checkout li#opc-review {
	position: static;
}

*+html .checkout-onepage-index input[type=text],
*+html .checkout-onepage-index input[type=password] {
	background: url(../images/qco_input_bg.gif) no-repeat;
	border: 0 none;
	width: 300px;
}