/* Layered HTML Blocks
-------------------------------------------*/

#textbox-wrapper {
	position: absolute;
	z-index: 10;
}

#textbox-wrapper.showcase-caption
{
	padding: 0;
	position: absolute;
	bottom: 10px; left: 10px; right: 10px;
	display: none;
	background-image: none;
	right: auto;
	bottom: auto;
}

#textbox { 
	text-align: center;
	text-transform: uppercase;
	color: #666666;
}