.blockajax-loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 130px;
    z-index: 5;
}

.blockajax-loader .spinner {
    margin: 10px auto 20px;
    width: 50px;
    height: 50px;
    position: relative;
}

.blockajax-loader .container1 > div,
.blockajax-loader .container2 > div,
.blockajax-loader .container3 > div {
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.blockajax-loader  .spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.blockajax-loader  .container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.blockajax-loader  .container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.blockajax-loader  .circle1 { top: 0; left: 0; }
.blockajax-loader  .circle2 { top: 0; right: 0; }
.blockajax-loader  .circle3 { right: 0; bottom: 0; }
.blockajax-loader  .circle4 { left: 0; bottom: 0; }

.blockajax-loader .container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.blockajax-loader .container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.blockajax-loader .container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.blockajax-loader .container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.blockajax-loader .container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.blockajax-loader .container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.blockajax-loader .container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.blockajax-loader .container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.blockajax-loader .container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.blockajax-loader .container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.blockajax-loader .container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

.blockajax-loader .loader-txt {
    text-align: center;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}