<?xml version="1.0"?>
<config>
    <modules>
        <Desitex_Checkoutnewsletter>
            <version>1.0.0</version>
            <depends>
                <Icommerce_PaymentShared/>
            </depends>
        </Desitex_Checkoutnewsletter>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Desitex_Checkoutnewsletter>
                    <files>
                        <default>Desitex_Checkoutnewsletter.csv</default>
                    </files>
                </Desitex_Checkoutnewsletter>
            </modules>
        </translate>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <setCustomerIsSubscribed>
                        <type>singleton</type>
                        <class>checkoutnewsletter/observer</class>
                        <method>setCustomerIsSubscribed</method>
                    </setCustomerIsSubscribed>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Desitex_Checkoutnewsletter>
                    <files>
                        <default>Desitex_Checkoutnewsletter.csv</default>
                    </files>
                </Desitex_Checkoutnewsletter>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <!-- Removed by Vaimo -->
            <!--<checkout>
                <rewrite>
                    <type_onepage>Desitex_Checkoutnewsletter_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>-->

            <checkoutnewsletter>
                <class>Desitex_Checkoutnewsletter_Model</class>
            </checkoutnewsletter>
        </models>
        <resources>
            <checkoutnewsletter_setup>
                <setup>
                    <module>Desitex_Checkoutnewsletter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </checkoutnewsletter_setup>
            <checkoutnewsletter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </checkoutnewsletter_write>
            <checkoutnewsletter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </checkoutnewsletter_read>
        </resources>
        <blocks>
            <checkoutnewsletter>
                <class>Desitex_Checkoutnewsletter_Block</class>
            </checkoutnewsletter>
        </blocks>
        <helpers>
            <checkoutnewsletter>
                <class>Desitex_Checkoutnewsletter_Helper</class>
            </checkoutnewsletter>
        </helpers>
    </global>
    <default>
        <newsletter>
            <checkoutnewsletter>
                <enable>1</enable>
                <checked>1</checked>
                <visible_guest>1</visible_guest>
                <visible_register>1</visible_register>
            </checkoutnewsletter>
        </newsletter>
    </default>
</config>