<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Cminds_Coupon>
            <version>1.2.1</version>
        </Cminds_Coupon>
    </modules>
    <default>
        <cminds_coupon>
            <general>
                <module_enabled>1</module_enabled>
                <coupon_doesnt_exists>Coupon '%d' doesnt not exists</coupon_doesnt_exists>
                <coupon_doesnt_apply_conditions>Coupon '%d' doesnt not exists</coupon_doesnt_apply_conditions>
                <coupon_code_is_expired>Coupon '%d' doesnt not exists</coupon_code_is_expired>
                <user_not_in_assigned_group>Coupon '%d' doesnt not exists</user_not_in_assigned_group>
                <over_used>Coupon '%d' doesnt not exists</over_used>
                <over_used_customer>Coupon '%d' doesnt not exists</over_used_customer>
                <default_error_message>Coupon '%d' doesnt not exists</default_error_message>
            </general>
        </cminds_coupon>
    </default>
    <frontend>
        <events>
            <controller_action_predispatch_checkout_cart_couponpost>
                <observers>
                    <coupon>
                        <class>cminds_coupon/observer</class>
                        <method>beforeCouponApply</method>
                        <type>singleton</type>
                    </coupon>
                </observers>
            </controller_action_predispatch_checkout_cart_couponpost>
            <controller_action_predispatch_checkout_cart_couponPost>
                <observers>
                    <coupon>
                        <class>cminds_coupon/observer</class>
                        <method>beforeCouponApply</method>
                        <type>singleton</type>
                    </coupon>
                </observers>
            </controller_action_predispatch_checkout_cart_couponPost>
            <controller_action_predispatch_onestepcheckout_index_add_coupon>
                <observers>
                    <coupon>
                        <class>cminds_coupon/observer</class>
                        <method>beforeMagestoreCouponApply</method>
                        <type>singleton</type>
                    </coupon>
                </observers>
            </controller_action_predispatch_onestepcheckout_index_add_coupon>
        </events>
    </frontend>
    <global>
        <resources>
            <salesrule_coupons_error_count>
                <setup>
                    <module>Cminds_Coupon</module>
                    <class>Cminds_Coupon_Model_Mysql4_Setup</class>
                </setup>
            </salesrule_coupons_error_count>
        </resources>
        <helpers>
            <cminds_coupon>
                <class>Cminds_Coupon_Helper</class>
            </cminds_coupon>
        </helpers>
        <models>
            <cminds_coupon>
                <class>Cminds_Coupon_Model</class>
                <resourceModel>cminds_coupon_mysql4</resourceModel>
            </cminds_coupon>
            <cminds_coupon_mysql4>
                <class>Cminds_Coupon_Model_Mysql4</class>
                <entities>
                    <coupon_error_count>
                        <table>salesrule_coupons_error_count</table>
                    </coupon_error_count>
                    <error_log>
                        <table>salesrule_coupons_error_log</table>
                    </error_log>
                </entities>
            </cminds_coupon_mysql4>
            <salesrule>
                <rewrite>
                    <coupon_collection>Cminds_Coupon_Model_Resource_Coupon_Collection</coupon_collection>
                </rewrite>
            </salesrule>
        </models>
        <blocks>
            <cminds_coupon>
                <class>Cminds_Coupon_Block</class>
            </cminds_coupon>
            <adminhtml>
                <rewrite>
                    <promo_quote_edit_tab_coupons_grid>Cminds_Coupon_Block_Promo_Quote_Edit_Tab_Coupons_Grid</promo_quote_edit_tab_coupons_grid>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <cminds_coupon>
                    <file>cminds_coupon.xml</file>
                </cminds_coupon>
            </updates>
        </layout>
        <events>
            <adminhtml_controller_salesrule_prepare_save>
                <observers>
                    <coupon_adminhtml>
                        <class>Cminds_Coupon_Model_Adminhtml_Observer</class>
                        <method>onSalesrulePrepareSave</method>
                    </coupon_adminhtml>
                </observers>
            </adminhtml_controller_salesrule_prepare_save>
        </events>
    </adminhtml>
</config>
