<?xml version="1.0" ?>
<config>
    <modules>
        <Vaimo_InfiniteScroll>
            <version>0.1.0</version>
        </Vaimo_InfiniteScroll>
    </modules>
    <global>
        <helpers>
            <infinitescroll>
                <class>Vaimo_InfiniteScroll_Helper</class>
            </infinitescroll>
        </helpers>
        <blocks>
            <infinitescroll>
                <class>Vaimo_InfiniteScroll_Block</class>
            </infinitescroll>
            <page>
                <rewrite>
                    <html_pager>Vaimo_InfiniteScroll_Block_Page_Pager</html_pager>
                </rewrite>
            </page>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <infinitescroll>
                    <file>infinitescroll.xml</file>
                </infinitescroll>
            </updates>
        </layout>
        <translate>
            <modules>
                <infinitescroll>
                    <files>
                        <default>Vaimo_InfiniteScroll.csv</default>
                    </files>
                </infinitescroll>
            </modules>
        </translate>
    </frontend>
    <default>
        <infinitescroll>
            <settings>
                <enabled>1</enabled>
            </settings>
        </infinitescroll>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <infinitescroll>
                                            <title>Infinite Scroll</title>
                                        </infinitescroll>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>