<?xml version="1.0" ?><config>
    <modules>
        <Icommerce_CheckoutCommon>
            <version>0.1.71</version>
            <depends>
                <Mage_Payment/>
            </depends>
        </Icommerce_CheckoutCommon>
    </modules>
    <global>
    	<models>
    		<checkoutcommon>
	    		<class>Icommerce_CheckoutCommon_Model</class>
	    	</checkoutcommon>
            <checkout>
                <rewrite>
                    <type_onepage>Icommerce_CheckoutCommon_Model_Checkout_Onepage</type_onepage>
                </rewrite>
            </checkout>
    	</models>
        <helpers>
            <checkoutcommon>
                <class>Icommerce_CheckoutCommon_Helper</class>
            </checkoutcommon>
        </helpers>
    </global>
    <!-- module defaults -->
    <default>
        <checkoutcommon>
            <settings>
                <!-- Change this value (for example) in your own customer specific module config.xml -->
                <is_skip_add_duplicate_address>0</is_skip_add_duplicate_address>
            </settings>
        </checkoutcommon>
        <checkout>
            <options>
                <guest_checkoutcommon>0</guest_checkoutcommon>
            </options>
        </checkout>
    </default>
</config>