<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TBT_Reports>
            <version>1.0.0.0</version>
        </TBT_Reports>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tbtreports after="Mage_Adminhtml">TBT_Reports</tbtreports>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <tbtreports>
                    <file>tbtreports.xml</file>
                </tbtreports>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <index>
            <indexer>
                <tbtreports_indexer_order>
                    <model>tbtreports/indexer_order</model>
                </tbtreports_indexer_order>
            </indexer>
        </index>
        <blocks>
            <tbtreports>
                <class>TBT_Reports_Block</class>
            </tbtreports>
        </blocks>
        <helpers>
            <tbtreports>
                <class>TBT_Reports_Helper</class>
            </tbtreports>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <tbtreports_observer_order_place_after>
                        <type>singleton</type>
                        <class>tbtreports/observer_order</class>
                        <method>onOrderPlaceAfter</method>
                    </tbtreports_observer_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
        <models>
            <tbtreports>
                <class>TBT_Reports_Model</class>
                <resourceModel>tbtreports_mysql4</resourceModel>
            </tbtreports>
            <tbtreports_mysql4>
                <class>TBT_Reports_Model_Mysql4</class>
                <entities>
                   <indexer_order>
                       <table>rewards_reports_indexer_order</table>
                   </indexer_order>
                </entities>
            </tbtreports_mysql4>
        </models>
        <resources>
            <tbtreports_setup>
                <setup>
                    <module>TBT_Reports</module>
                    <class>TBT_Rewards_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tbtreports_setup>
            <tbtreports_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tbtreports_read>
            <tbtreports_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tbtreports_write>
        </resources>
    </global>
</config>
