<?xml version="1.0" ?>
<config>
	<modules>
		<Itoris_CmsDisplayRules>
			<version>1.2.1</version>
		</Itoris_CmsDisplayRules>
	</modules>
	<global>
		<blocks>
			<itoris_cmsdisplayrules>
				<class>Itoris_CmsDisplayRules_Block</class>
			</itoris_cmsdisplayrules>
			<adminhtml>
				<rewrite>
					<cms_page_edit_tab_main>Itoris_CmsDisplayRules_Block_Admin_Cms_Page_Tab_PageInformation</cms_page_edit_tab_main>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<itoris_cmsdisplayrules>
				<class>Itoris_CmsDisplayRules_Helper</class>
			</itoris_cmsdisplayrules>
		</helpers>
		<models>
			<itoris_cmsdisplayrules>
				<class>Itoris_CmsDisplayRules_Model</class>
				<resourceModel>itoris_cmsdisplayrules_mysql4</resourceModel>
			</itoris_cmsdisplayrules>
			<itoris_cmsdisplayrules_mysql4>
				<class>Itoris_CmsDisplayRules_Model_Mysql4</class>
				<entities>
					<page><table>itoris_cms_display_rules_page</table></page>
					<block><table>itoris_cms_display_rules_block</table></block>
					<page_group><table>itoris_cms_display_rules_page_group</table></page_group>
					<block_group><table>itoris_cms_display_rules_block_group</table></block_group>
				</entities>
			</itoris_cmsdisplayrules_mysql4>
		</models>
		<resources>
			<itoris_cmsdisplayrules_setup>
				<setup>
					<module>Itoris_CmsDisplayRules</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</itoris_cmsdisplayrules_setup>

			<itoris_cmsdisplayrules_write>
				<connection><use>core_write</use></connection>
			</itoris_cmsdisplayrules_write>
			<itoris_cmsdisplayrules_read>
				<connection><use>core_read</use></connection>
			</itoris_cmsdisplayrules_read>
		</resources>
		<events>
			<model_save_after>
				<observers>
					<itoris_cms_display_rules>
						<type>singleton</type>
						<class>Itoris_CmsDisplayRules_Model_Observer</class>
						<method>saveCms</method>
					</itoris_cms_display_rules>
				</observers>
			</model_save_after>
			<model_load_after>
				<observers>
					<itoris_cms_display_rules>
						<type>singleton</type>
						<class>Itoris_CmsDisplayRules_Model_Observer</class>
						<method>displayCms</method>
					</itoris_cms_display_rules>
				</observers>
			</model_load_after>
			<adminhtml_block_html_before>
				<observers>
					<itoris_cms_display_rules>
						<type>singleton</type>
						<class>Itoris_CmsDisplayRules_Model_Cms_Block_Observer</class>
						<method>editForm</method>
					</itoris_cms_display_rules>
				</observers>
			</adminhtml_block_html_before>
		</events>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<itoris_cmsdisplayrules before="Mage_Adminhtml">Itoris_CmsDisplayRules_Adminhtml</itoris_cmsdisplayrules>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<itoris_cmsdisplayrules>
					<file>itoris_cmsdisplayrules.xml</file>
				</itoris_cmsdisplayrules>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_CmsDisplayRules>
					<files>
						<default>Itoris_CmsDisplayRules.csv</default>
					</files>
				</Itoris_CmsDisplayRules>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<routers>
			<cmsdisplayrule>
				<use>standard</use>
				<args>
					<module>Itoris_CmsDisplayRules</module>
					<frontName>cmsdisplayrule</frontName>
				</args>
			</cmsdisplayrule>
		</routers>
		<layout>
			<updates>
				<itoris_cmsdisplayrule>
					<file>itoris_cmsdisplayrule.xml</file>
				</itoris_cmsdisplayrule>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_CmsDisplayRules>
					<files>
						<default>Itoris_CmsDisplayRules.csv</default>
					</files>
				</Itoris_CmsDisplayRules>
			</modules>
		</translate>
	</frontend>
</config>