<?xml version="1.0" ?>
<config>
    <modules>
        <Vaimo_Gotoadmin>
            <version>0.1.1</version>
        </Vaimo_Gotoadmin>
    </modules>
    
    <global>
        <blocks>
        	<gotoadmin>
        		<class>Vaimo_Gotoadmin_Block</class>
        	</gotoadmin>
        </blocks>
        
        <helpers>
			<gotoadmin>
				<class>Vaimo_Gotoadmin_Helper</class>
			</gotoadmin>
		</helpers>
		
		<models>
			<gotoadmin>
				<class>Vaimo_Gotoadmin_Model</class>
			</gotoadmin>
		</models>
    </global>
    
    <frontend>
        <layout>
            <updates>
                <gotoadmin>
                    <file>vaimo_gotoadmin.xml</file>
                </gotoadmin>
            </updates>
        </layout>
        
        <routers>
			<gotoadmin>
				<use>standard</use>
				<args>
					<module>Vaimo_Gotoadmin</module>
					<frontName>gotoadmin</frontName>
				</args>
			</gotoadmin>
		</routers>
		
		<events>
			<core_block_abstract_to_html_after>
				<observers>
					<gotoadmin_observer>
						<type>singleton</type>
						<class>gotoadmin/observer</class>
						<method>filterCmsBlocks</method>
					</gotoadmin_observer>
				</observers>
			</core_block_abstract_to_html_after>
		</events>
    </frontend>
    
    <adminhtml>
        <layout>
            <updates>
                <gotoadmin>
                    <file>vaimo_gotoadmin.xml</file>
                </gotoadmin>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <gotoadmin>
            <general>
                <active>1</active>
                <allow_ips>46.21.96.82,194.106.126.109</allow_ips>
            </general>
        </gotoadmin>
    </default>
</config>