<config>
    <modules>
        <Nextopia_Search>
            <version>5.3.1</version>
        </Nextopia_Search>
    </modules>
    <global>
        <models>
            <nsearch>
                <class>Nextopia_Search_Model</class>
            </nsearch>
        </models>
        <helpers>
            <catalogsearch>
                <!-- this is for handling search form rewriting -->
                <rewrite>
                    <data>Nextopia_Search_Helper_Data</data>
                </rewrite>
            </catalogsearch>
            <nsearch>
                <class>Nextopia_Search_Helper</class>
            </nsearch>
        </helpers>
        <blocks>
            <nsearch>
                <class>Nextopia_Search_Block</class>
            </nsearch>
        </blocks>
    </global>
    <frontend>
        <routers>
            <nsearch>
                <use>standard</use>
                <args>
                    <module>Nextopia_Search</module>
                    <frontName>nsearch</frontName>
                </args>
            </nsearch>
        </routers>
        <layout>
            <updates>
                <nsearch>
                    <file>nextopiasearch.xml</file>
                </nsearch>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_catalogsearch>
                <observers>
                    <nextopia_search_model_observer>
                        <type>singleton</type>
                        <class>Nextopia_Search_Model_Observer</class>
                        <method>catchSearch</method>
                    </nextopia_search_model_observer>
                </observers>
            </controller_action_predispatch_catalogsearch>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <nextopia_ajax_options>
                                            <title>Nextopia Configuration</title>
                                        </nextopia_ajax_options>
                                        <nextopia_product_page>
                                            <title>Nextopia Product Page Configuration</title>
                                        </nextopia_product_page>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <nextopia_ajax_options>
            <settings>
                <ajaxversion>nxt-app</ajaxversion>
                <selected_template>page/2columns-left.phtml</selected_template>
                <default_content>&lt;img src="/skin/frontend/base/default/images/ajax-loader-c.gif" /&gt;</default_content>
                <label_search_result_page>Search results for</label_search_result_page>
            </settings>
        </nextopia_ajax_options>
    </default>
</config> 
