<?xml version="1.0" ?><config>
    <modules>
        <Icommerce_HeaderCart>
            <version>0.0.24</version>
            <depends>
                <Mage_Checkout/>
            </depends>
        </Icommerce_HeaderCart>
    </modules>
    <global>
        <blocks>
            <headercart>
                <class>Icommerce_HeaderCart_Block</class>
            </headercart>
        </blocks>
        <helpers>
            <headercart>
                <class>Icommerce_HeaderCart_Helper</class>
            </headercart>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <headercart>
                    <file>icommerce_headercart.xml</file>
                </headercart>
            </updates>
        </layout>
        <translate>
            <modules>
                <Icommerce_HeaderCart>
                    <files>
                        <headercart>Icommerce_HeaderCart.csv</headercart>
                    </files>
                </Icommerce_HeaderCart>
            </modules>
        </translate>
    </frontend>
</config>
