<?xml version="1.0"?>
<config>
    <modules>
        <Bestworlds_KlaviyoExtend>
            <version>1.0.0</version>
        </Bestworlds_KlaviyoExtend>
    </modules>
    <global>
        <blocks>
            <klaviyoextend>
                <class>Bestworlds_KlaviyoExtend_Block</class>
            </klaviyoextend>
        </blocks>
        <models>
            <klaviyoextend>
                <class>Bestworlds_KlaviyoExtend_Model</class>
            </klaviyoextend>
        </models>
        <helpers>
            <klaviyoextend>
                <class>Bestworlds_KlaviyoExtend_Helper</class>
            </klaviyoextend>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <klaviyoextend before="Mage_Adminhtml">Bestworlds_KlaviyoExtend_Adminhtml</klaviyoextend>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <klaviyoextend>
                <use>standard</use>
                <args>
                    <module>Bestworlds_KlaviyoExtend</module>
                    <frontName>klaviyoextend</frontName>
                </args>
            </klaviyoextend>
        </routers>
        <layout>
            <updates>
                <Bestworlds_KlaviyoExtend module="Bestworlds_KlaviyoExtend">
                    <file>bestworlds/klaviyoextend.xml</file>
                </Bestworlds_KlaviyoExtend>
            </updates>
        </layout>
        <events>
            <checkout_cart_save_after>
                <observers>
                    <bw_abandonedcart_sales_quote_add_item>
                        <class>klaviyoextend/observer</class>
                        <method>checkoutCartSaveAfter</method>
                    </bw_abandonedcart_sales_quote_add_item>
                </observers>
            </checkout_cart_save_after>
        </events>
    </frontend>
</config>
