@media (min-width: 1200px) {
    #nav ul.level0 >.container >.menu-group-main {
        margin: 0 60px;
    }
}


@media (min-width: 992px) {
    #nav li.level0 >.toggle-sub-menu .fa::before {
        content:"\f107";
    }

    #nav li.level0.over >.toggle-sub-menu .fa::before {
        content:"\f106";
    }

    #nav li.level0 ul,
    #nav li.level0 li {
        vertical-align: top;
    }

    #nav * {
        min-width: inherit !important;
    }

    #nav li.level0 >ul,
    #nav li.level0 >li {
        display: inline-block;
    }

    #nav li.level0 >ul.level0 {
        display: none;
    }

    ul#nav li.level0 > a::after {
        content: "";
        background-color: inherit;
        width: 15px;
        height: 1px;
        display: block;
        margin: 0 auto;
    }

    ul#nav li.level0.over > a::after {
        background-color: #000;
    }

    ul#nav.menu-over li.level0 > a {
        color: #aaa;
    }

    ul#nav li.level0.over > a {
        color: #000;
    }

    #nav li.level0 >ul.level0.shown-sub,
    #nav ul.level2 li,
    #nav .menu-group-main,
    #nav ul.level0.menu-bp-wrapper,
    #nav ul.level1 li.menu-bp-column,
    #nav ul.level2.menu-bp-items,
    .parent > .menu-children-nested.menu-vlist {
        display: block;
    }

    #nav ul ul.level0.menu-bp-wrapper {
        margin: 0 -14px;
    }

    #nav ul.level0 ul.level1,
    #nav .widget p,
    #nav ul .menu-link {
        white-space: normal;
    }

    #nav .level0 .menu-bp-column.menu-nested-parent {
        margin: 0 -15px;
        padding: 0 15px;
    }

    ul#nav .level1.menu-nested-parent > a {
        padding-bottom: 3px;
        border-bottom: 1px solid #E5E5E5;
        font-size: 18px;
    }

    #nav li.level1 > a span {
        font-size: 18px;
        font-weight: bold;
    }

    #nav a img {
        display: block;
        margin-top: 15px;
        width: 100%;
    }

    #nav .image {
        margin-bottom: 40px;
    }

    ul#nav .level1 a span.label {
        display: inline;
    }

    #nav .level1 a span.label.mobile {
        display: none;
    }

    #nav .menu-cms-block-desktop a:hover img {
        opacity: 0.9;
    }

    .mobile-search-wrapper {
        display: none !important; /* disable mobile search on desktop */
    }

    /* Background overlay for nav */
    #menu-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 99;
    }
    .logo a {
        text-align: center;
    }
    .logo img {
         height: 20px;
         margin-top: 25px;
    }

    .header-search button {
        padding: 0;
        color: #777777;
        height: 36px;
    }
    .menu-search .search-wrapper {
        color: #777777;
        border: 1px solid #BDBDBD;
        width: 225px;
        height: 36px;
    }
    .menu-search .search-wrapper input {
        padding-bottom: 0;
        padding-top: 0;
        height: 32px;
    }
    li.menu-search {
        height: 36px;
        bottom: 4px;
    }
}

@media (max-width: 991px) {
    #header {
        padding-top: 3px;
        margin-left: 5px;
        margin-right: 3px;
        margin-top: 10px;
    }
    #top-announcement .owl-next {
        right: 8px;
    }
    #top-announcement .owl-prev {
        left: 9px;
    }
    #header .mobile-search-wrapper {
        margin: 0 14px;
    }
    #header .my-account-btn{
        text-align: right;
        margin-right: 6px;
    }
    #header .menu-top {
        line-height: 0;
    }

    .header-search button {
        padding: 0;
    }

    #header .account-button {
        padding: 0 13px;
        margin-right: 6px;
    }

    #atca-cart {
        padding-right: 12px;
    }
    #header .account-button.logged-in {
        padding: 0 7px 0 13px;
    }

    .customer-account-login #header .account-button,
    .customer-account-index #header .account-button {
        background: #333;
    }

    .headercart {
        overflow: hidden;
    }

    #atca-cart .cart-badge {
        top: 0;
        left: 32px;
    }

    ul#nav >li {
        display: block;
    }

    .header-search {
        background: #fff;
        border: 1px #666666 solid;
        left: 0;
        margin-left: inherit;
        width: 100%;
    }

    #search_autocomplete {
        display: none;
    }

    #search_mini_form .input-wrapper {
        background: #fff;
    }

    #search_mini_form .input-wrapper .input-search {
        width: 93%;
    }

    .hamburger {
        width: 16px;
        display: inline-block;
    }

    .hamburger .bread {
        display: block;
        width: inherit;
        height: 3px;
        border-radius: 1px;
        background-color: #515151;
        margin-top: 3px;
    }

    /* Navigation */
    ul#nav {
        background: #fff;
        display: none;
        margin: 0;
        width: 100%;
        padding: 0 15px 15px;
    }

    ul#nav li.level0 {
        margin-right: 0;
        padding: 0;
    }

    ul#nav li.level0 >ul.level0 {
        border: none;
        padding: 0;
        top: 0;
    }

    #nav .level1 > a {
        padding-left: 40px;
    }

    #nav .level2 > a {
        padding-left: 80px;
    }

    #nav .level1 .menu-vlist {
        margin: 0;
    }

    #nav .mobile-show,
    #nav .mobile-show >li >ul,
    #nav .mobile-show >li >ul >li >ul {
        display: block;
    }

    ul#nav li.level1 > a,
    ul#nav .level1.menu-nested-parent > a {
        margin: 0 !important;
        padding: 20px 0 0 20px;
    }

    ul#nav li.level1.first > a {
        border-top: 1px #c2c2c2 dashed;
    }

    ul#nav li.level1 > a.image {
        border-top: 1px #c2c2c2 dashed;
        padding: 20px 0 20px 20px;
    }

    ul#nav li.menu-nested-parent li.level1.first.menu-nested-parent > a,
    ul#nav li.menu-nested-parent a.image span {
        border: none;
    }

    ul#nav li.level1 > a > span {
        padding: 0 0 20px 0;
        border-bottom: 1px dashed #E5E5E5;
    }

    ul#nav .level1 a {
        padding: 20px 0;
    }

    ul#nav .level1 .level2 a {
        padding: 20px 0 0 60px;
    }

    ul#nav .level1 .level2 span {
        padding: 0 0 20px 0;
        border-bottom: 1px dashed #E5E5E5;
    }

    ul#nav .level1 .level2.active span {
        font-weight: 600;
    }

    #nav .toggle-sub-menu {
        background: none ;
        border: none;
        color: #000;
        display: block;
        float: right;
        font-size: 16px;
        height: 52px;
        outline: none;
        padding: 5px 40px 0 40px;
        position: absolute;
        text-align: right;
        right: 0;
        width: 100%;
        z-index: 1;
    }

    #nav li.level0 > .toggle-sub-menu {
         height: 58px;
         margin-top: 0;
         padding-right: 15px;
         padding-top: 0;
         width: 100%;
    }

    #nav li.level1 .toggle-sub-menu {
         padding-right: 0;
    }

    #nav li.disabled-item > .toggle-sub-menu {
         left: 0;
         padding-right: 15px;
         position: absolute;
         width: 100%;
         z-index: 1;
     }

    #nav li.level1.disabled-item > .toggle-sub-menu {
        padding-right: 0;
    }

    /* All Levels */
    #nav li {
        text-align: left;
        position: relative;
        margin: 0;
    }

    #nav li.over {
        z-index: auto;
    }

    #nav .level0 > a {
        display: inline-block;
        padding-left: 0px;
        width: 80%;
    }

    #nav li a {
        display: block;
        text-decoration: none;
        padding: 16px 14px;
    }

    #nav li.last a {
        border-bottom: none;
    }

    #nav li a:hover {
        text-decoration: none;
    }

    #nav li a span {
        display: block;
        white-space: nowrap;
        cursor: pointer;
    }

    #nav li ul a span {
        white-space: normal;
    }

    #nav li.level0 .level0.mobile-show {
        border-top: 1px dashed #E5E5E5;
    }

    /* 1st Level */
    #nav li {
        float: none;
    }

    #nav li a {
        float: none;
    }

    #nav div ul {
        position: relative;
        width: auto;
        border: none;
    }

    #nav ul li a {
        padding: 7px 20px;
    }


    /* 3rd+ leven */
    li.level0 {
        border-bottom: 1px solid #000;
    }

    #nav .level0.mobile-show > ul {
        display: none;
    }

    #nav .parent.active > ul {
        display: block;
    }


    #nav .menu-group-footer a {
        border-top: 1px #c2c2c2 dashed;
    }


    #nav .mobile-menu-top {
        border-bottom: 1px solid #000;
        font-size: 0;
    }

    #nav .mobile-menu-top a {
        display: inline-block;
        height: 50px;
        padding-top: 16px;
        text-align: center;
        width: 49%;
    }

    #nav .mobile-menu-top a:nth-child(2) {
        border-left: 1px solid #c2c2c2;
    }

    #nav .mobile-menu-bottom >form {
        border-bottom: 1px solid #000;
        cursor: pointer;
        display: block;
        padding: 20px 16px;
    }

    #nav .mobile-menu-bottom .fa {
        float: right;
    }

    #nav .mobile-menu-bottom .follow-us a {
        display: inline-block;
    }

    #nav .mobile-menu-bottom .newsletter {
        border: none;
        margin-left: 16px;
        text-align: left;
    }

    #nav .mobile-menu-bottom [data-togglecontent] {
        border-bottom: 1px solid #c2c2c2;
    }

    #nav .container {
        max-width: 100%;
    }

    #nav a img {
        display: none;
    }

    #nav a.image .menu-image-container {
        display: inline-block;
        width: 40%;
        padding: 0 10px 0 0;
    }

    #nav a.image img {
        display: inline-block;
        max-height: 150px;
    }

    #nav a.image .label {
        display: inline-block;
        padding-top: 10px;
        max-width: 50%;
        line-height: 14px;
    }

    #nav .level1 a span.label.desktop {
        display: none;
    }

    #recently-added-container {
        display: none !important;
    }

    #nav .menu-cms-block {
        padding: 15px 0 0;
    }

    #nav .menu-cms-block a {
        padding: 0;
    }

    #nav .menu-cms-block img {
        display: block;
    }

    #nav .menu-cms-block-desktop {
        display: none;
    }

    #menu-overlay {
        display: none;
    }

    /* Menu Widgets */
    #nav .level1 .menu-widget .widget-column {
        padding: 20px 0 0 0;
        margin-left: 20px;
        border-bottom: 1px dashed #E5E5E5;
    }

    #nav .level1 .menu-widget .widget-static-block img {
        display: block;
    }

    .minicart-is-open .fade-icon {
        opacity: 1;
    }

    .minicart-is-open .headercart-filter {
        display: none;
    }

    .ge_shipping_switcher {
        position: relative;
        top: -20px;
    }

    .account-button {
        position: relative;
        top: -15px;
        left: 10px;
    }


    .logo img {
        max-height: 23px;
        margin-top: 4px;

    }

    .mobile-search-section input,
    .mobile-search-section input::placeholder {
        color: #777777;
    }
    #header .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .mobile-nav#toggle-nav {
        display: none !important;
    }

    .cdz-menu {
        display: block!important;
    }
}

@media (max-width: 767px) {
    .cdz-menu {
        display: none;
    }

    .cdz-menu .groupmenu .item.level-top > .menu-link {
        padding: 11px;
    }

    .cdz-menu .item.level-top {
        overflow-x: hidden;
    }

    .mobile-nav#toggle-nav {
        display: inline-block !important;
    }

    #header .logo img {
        margin-top: 6px;
        max-width: 120px;
    }

}

@media (max-width: 400px) {
    #header .my-account-btn {
        margin-right: 0;
    }
    #header .cart-button {
        padding: 0;
    }
    #header .logo {
        left: -11%;
    }
}
