@media (min-width: 992px) {
    #narrow-by-list {
        display: block !important;
    }
}

@media (max-width: 991px) {
    .block-layered-nav h3 {
        padding: 10px 0;
        text-align: center;
    }
    
    .block-layered-nav li {
        display: block;
        padding: 0 0 0 10px;
    }
    
    .block-layered-nav ol {
        border-bottom: 1px #c2c2c2 dashed;
        margin: 10px 30px 10px 30px;
    }
    
    .block-layered-nav ol li {
        display: block;
        margin: 0 15px 15px 0;
        padding: 0;
    }
    
    .block-layered-nav .content [data-togglecontent] {
        display: none !important;
    }
    
    .block-layered-nav ul [data-togglecontent] {
        display: none;
    }
    
    .block-layered-nav [data-togglelink].active {
        border-color: transparent;
    }
    
    .block-layered-nav .sort-by {
        float: none;
        margin: 0;
        padding: 0;
    }
    
    .block-layered-nav .sort-by label,
    .block-layered-nav .sort-by a {
        display: block;
        margin-bottom: 20px;
    }
    
    .block-layered-nav .sort-by a {}
    
    .block-layered-nav li.sort-by {
        margin: 10px 10px 25px 0px;
    }
    
    .show-mobile-filter {
        cursor: pointer;
    }

    .narrow-by-list li {
        border-bottom: 1px solid #EEE;
    }
    .sidebar-content {
        margin-top: 45px;
    }
    .sidebar-content {
        margin-top: 45px;
    }
    .block-layered-nav-wrapper {
        margin-left: 15px;
        padding-right: 15px;
    }
    li.filter-options-group:not(:last-child) {
        border-bottom: 1px solid #e5e5e5;
    }
    .block-layered-nav-wrapper .remove-item {
        height: 35px;
    }
    .block-layered-nav-wrapper .block-title {
        line-height: 1.42857143;

    }
    .block-layered-nav-wrapper .block-title h3{
        font-size: 16px;
    }
    .block-layered-nav-wrapper .remove-item a {
        font-size: 12px;
    }

    li.filter-options-group {
        padding-top: 15px;
    }
}

@media (max-width: 767px) {
    .block-layered-nav li.sort-by {
        margin-left: 10px;
    }
}
