<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Mediotype_OffersTab>
            <version>0.0.1</version>
        </Mediotype_OffersTab>
    </modules>

    <global>
        <blocks>
            <mediotype_offerstab>
                <class>Mediotype_OffersTab_Block</class>
            </mediotype_offerstab>
        </blocks>

        <helpers>
            <mediotype_offerstab>
                <class>Mediotype_OffersTab_Helper</class>
            </mediotype_offerstab>
        </helpers>

        <resources>
            <mediotype_offerstab_setup>
                <setup>
                    <module>Mediotype_OffersTab</module>
                </setup>

                <connection>
                    <use>core_setup</use>
                </connection>
            </mediotype_offerstab_setup>
        </resources>
    </global>

    <frontend>
        <layout>
            <updates>
                <mediotype_offerstab>
                    <file>mediotype_offerstab.xml</file>
                </mediotype_offerstab>
            </updates>
        </layout>
    </frontend>

    <admin>
    </admin>
</config>
