/**
*    Main Magento Dashboard
**/
#rewards_dashboard #rewards_dashboard_contents .tbtreports-summary .amount
{
    margin-top: 10px;
    font-size:18px;
    color:#EA7601;
}

#rewards_dashboard #rewards_dashboard_contents .tbtreports-summary .period
{
    font-size:10px;
}

#rewards_dashboard #rewards_dashboard_contents .tbtreports-summary .more-metrics
{
    text-align: right;
    margin-top: 10px;
}

#rewards_dashboard #rewards_dashboard_contents .tbtreports-summary td.first
{
    padding-right: 10px;
}

#rewards_dashboard #rewards_dashboard_contents .tbtreports-summary td.last
{
    padding-right: 10px;
}

/*
*   Sweet Tooth Dashboard Page
**/

.tbtreports-dashboard {
    display: table;
    width: 100%;
}
.tbtreports-dashboard .dashboard-left,
.tbtreports-dashboard .dashboard-right {
    display:table-cell;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
}

.tbtreports-dashboard .dashboard-left {
    padding-right: 12px;
}

.tbtreports-dashboard .dashboard-right {
    padding-left: 12px;
    min-width: 275px;
    max-width: 600px;
}

.tbtreports-dashboard #dashboard_metricsArea,
.tbtreports-dashboard #dashboard_feedsArea
{
    border: 1px solid #C1C1C1;
}


/**
*  Live Feeds Area
**/
.tbtreports-dashboard #dashboard_feedsArea_tabControls {
    margin-bottom: 10px;
}

.tbtreports-dashboard #dashboard_feedsArea {
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.tbtreports-dashboard #dashboard-feeds #feed-items-reel {
    padding: 20px 20px 15px 10px;
    position: absolute;
    top: 32px;
    bottom: 30px;
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.tbtreports-dashboard #dashboard-feeds #feed-items-reel .feed-item-wrapper {
    overflow: hidden;
}

.tbtreports-dashboard #dashboard-feeds #feed-items-reel .feed-item {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #F9F9F9;
    border: 1px solid #EAEAEA;
    margin-bottom: 10px;
    padding: 4px 12px 20px 12px;
}

.tbtreports-dashboard #dashboard-feeds #feed-items-reel .feed-item a {
    text-decoration: none;
    color: #BF5102;
}
    .tbtreports-dashboard #dashboard-feeds #feed-items-reel .feed-item a:hover {
        text-decoration: underline;
        color: #ea7601;
    }

.tbtreports-dashboard #dashboard-feeds #feed-items-reel .feed-item:hover {
    background-color: rgba(229, 97, 0, 0.05);
}

.tbtreports-dashboard #dashboard-feeds #feed-items-reel .feed-item.animate {
    -webkit-transition: margin-top 0.5s ease-out;
    -moz-transition: margin-top 0.5s ease-out;
    -o-transition: margin-top 0.5s ease-out;
    transition: margin-top 0.5s ease-out;
}

.tbtreports-dashboard #dashboard-feeds #feed-items-reel .feed-item .feed-item-timestamp {
    margin-bottom: 3px;
    text-align: right;
    font-size: x-small;
    color: #999;
}

.tbtreports-dashboard #dashboard-feeds #feed-items-reel #feed-item-load-previous {
    cursor: pointer;
    text-align: center;
    margin: 20px 0 50px 0;
}
    .tbtreports-dashboard #dashboard-feeds #feed-items-reel #feed-item-load-previous.loading a {
        display: none;
    }
    .tbtreports-dashboard #dashboard-feeds #feed-items-reel #feed-item-load-previous.loading:before {
        color: #ea7601;
        content: "Loading...";

    }

.tbtreports-dashboard #feeds-hidden-updates-notice {
    color: #E05F00;
    font-size: x-small;
    margin-left: 10px;
}
.tbtreports-dashboard #feeds-hidden-updates-notice::before {  content: "(";  }
.tbtreports-dashboard #feeds-hidden-updates-notice::after {  content: ")";  }

.tbtreports-dashboard #dashboard-feeds #feeds-bottom-link {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    z-index: 0;
    height: 30px;
    padding: 6px 0px;
    background-color: #F6F6F6;
    border-top: 1px solid #B4B4B4;
}
.tbtreports-dashboard #dashboard-feeds #feeds-bottom-link  a {
    display: block;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

#feed-items-end-of-list > .end-condition {
    border: 3px dashed #B4B4B4;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 20px 20px 20px 15px;
    color: #B4B4B4;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 13px;
}

#feed-items-end-of-list .end-of-list-title {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}

/**
* Restyle tooltip contents
**/
.ot-content {
    line-height: 1.5;
}
.ot-content ul li,
.ot-content ol li
{
    line-height: 1.3;
    padding-bottom: 3px;
}
.ot-content ul {
    list-style-type: disc;
}
.ot-content ol {
    list-style-type: decimal;
}
.ot-content ul,
.ot-content ol {
    list-style-position: outside;
    margin-left: 1em;
}

.ot-content ul ul, ol ul {
    list-style-type: circle;
    margin-left: 15px;
}
.ot-content ol ol, ul ol {
    list-style-type: lower-latin;
    margin-left: 15px;
}

.rewards-dashboard-metrics-report_wrapper {
    border: 1px solid #cddddd;
    margin:20px;
}
.rewards-dashboard-metrics-report_totals {
    width: 555px;
    margin: 20px auto;
}

.rewards-dashboard-metrics-report_wrapper .switcher {
    padding:5px 10px;
}

.rewards-dashboard-metrics-report_wrapper .switcher span:last-child {
    margin-right:5px;
}

.rewards-dashboard-metrics-report_wrapper #piechart {
    width: 700px;
    height: 460px;
    border: 2px;
    margin: 0 auto;
}

.rewards-dashboard-metrics-report_wrapper .chart_wrapper {
    width: 587px;
    height:300px;
    margin:0 auto;
}

.rewards-dashboard-metrics-report_wrapper .metric-info {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 5px;
}

.rewards-dashboard-metrics-report_wrapper .metric-info-content {
    display: none;
}

.report-notice-messages {
    width: 587px;
    margin: 20px auto;
}

.chart-text_f12 { font-size: 12px; }
.chart-text_f14 { font-size: 14px; }
.chart-text_f15 { font-size: 15px; }
.chart-text_f18 { font-size: 18px; }
.chart-text-cEA7601 { color: #EA7601; }
.chart-text-cDE8946 { color: #DE8946; }
